In [1]:
import torch
import numpy as np
from torch.autograd import Variable
from torch.utils.data import Dataset, DataLoader

import pandas as pd

In [594]:
import torch.nn.functional as F

In [159]:
###  Load and Clean Data  ###

#Load as panda
xy_train = pd.read_csv('./data/titanic/train.csv')
x_test = pd.read_csv('./data/titanic/test.csv')
#xy_train = pd.read_csv('./data/titanic/debug_1s.csv')

#Scale Sex
xy_train['Sex'] = xy_train['Sex'].map({'male':1, 'female':0})
x_test['Sex'] = x_test['Sex'].map({'male':1, 'female':0})


#Pclass to one hot
pclass_dummies_tr = pd.get_dummies(xy_train['Pclass'], prefix='Pclass')
xy_train = pd.concat([xy_train, pclass_dummies_tr], axis=1)

pclass_dummies_t = pd.get_dummies(x_test['Pclass'], prefix='Pclass')
x_test = pd.concat([x_test, pclass_dummies_t], axis=1)

#Scale Fare
#xy_train.Fare = xy_train.Fare/100
#x_test.Fare = x_test.Fare/100



xy_train.sample(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Pclass_1,Pclass_2,Pclass_3
241,242,1,3,"Murphy, Miss. Katherine ""Kate""",0,NaN,1,0,367230,15.5000,NaN,Q,0,0,1
657,658,0,3,"Bourke, Mrs. John (Catherine)",0,32.0,1,1,364849,15.5000,NaN,Q,0,0,1
451,452,0,3,"Hagland, Mr. Ingvald Olai Olsen",1,NaN,1,0,65303,19.9667,NaN,S,0,0,1

In [160]:
x_test.sample(3)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Pclass_1,Pclass_2,Pclass_3
246,1138,2,"Karnes, Mrs. J Frank (Claire Bennett)",0,22.0,0,0,F.C.C. 13534,21.0000,NaN,S,0,1,0
285,1177,3,"Dennis, Mr. William",1,36.0,0,0,A/5 21175,7.2500,NaN,S,0,0,1
356,1248,1,"Brown, Mrs. John Murray (Caroline Lane Lamson)",0,59.0,2,0,11769,51.4792,C101,S,1,0,0

In [240]:
#age cleanup WIP
grouped_train = xy_train.groupby(['Sex','Pclass','Title'])
grouped_median_train = grouped_train.median()
grouped_median_train = grouped_median_train.reset_index()[['Sex', 'Pclass', 'Title', 'Age']]
grouped_median_train.head()

   Sex  Pclass    Title   Age
0    0       1     Miss  30.0
1    0       1      Mrs  40.0
2    0       1  Officer  49.0
3    0       1  Royalty  40.5
4    0       2     Miss  24.0

In [244]:
#age cleanup part 2
def fill_age(row):
    condition = (
        (grouped_median_train['Sex'] == row['Sex']) & 
        (grouped_median_train['Title'] == row['Title']) & 
        (grouped_median_train['Pclass'] == row['Pclass'])
    ) 
    return grouped_median_train[condition]['Age'].values[0]

xy_train['Age'] = xy_train.apply(lambda row: fill_age(row) if np.isnan(row['Age']) else row['Age'], axis=1)
x_test['Age'] = x_test.apply(lambda row: fill_age(row) if np.isnan(row['Age']) else row['Age'], axis=1)

In [471]:
#optional age cleanup part 3 (scale)
xy_train.Age = xy_train.Age/80
x_test.Age = x_test.Age/80

In [199]:
Title_Dictionary = {
    "Capt": "Officer",
    "Col": "Officer",
    "Major": "Officer",
    "Jonkheer": "Royalty",
    "Don": "Royalty",
    "Sir" : "Royalty",
    "Dr": "Officer",
    "Rev": "Officer",
    "the Countess":"Royalty",
    "Mme": "Mrs",
    "Mlle": "Miss",
    "Ms": "Mrs",
    "Mr" : "Mr",
    "Mrs" : "Mrs",
    "Miss" : "Miss",
    "Master" : "Master",
    "Lady" : "Royalty"
}


# we extract the title from each name
xy_train['Title'] = xy_train['Name'].map(lambda name:name.split(',')[1].split('.')[0].strip())
x_test['Title'] = x_test['Name'].map(lambda name:name.split(',')[1].split('.')[0].strip())

# a map of more aggregated title
# we map each title
xy_train['Title'] = xy_train.Title.map(Title_Dictionary)
x_test['Title'] = x_test.Title.map(Title_Dictionary)

#convert to one hot
titles_dummies_tr = pd.get_dummies(xy_train['Title'], prefix='Title')
xy_train = pd.concat([xy_train, titles_dummies_tr], axis=1)

titles_dummies_t = pd.get_dummies(x_test['Title'], prefix='Title')
x_test = pd.concat([x_test, titles_dummies_t], axis=1)


xy_train.sample(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Pclass_1,Pclass_2,Pclass_3,Title,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Officer,Title_Royalty
57,58,0,3,"Novel, Mr. Mansouer",1,28.5,0,0,2697,7.2292,...,0,0,1,Mr,0,0,1,0,0,0
92,93,0,1,"Chaffee, Mr. Herbert Fuller",1,46.0,1,0,W.E.P. 5734,61.1750,...,1,0,0,Mr,0,0,1,0,0,0
252,253,0,1,"Stead, Mr. William Thomas",1,62.0,0,0,113514,26.5500,...,1,0,0,Mr,0,0,1,0,0,0

In [731]:
#x_test.sample(3)
x_test.ix[206:208, 15:30]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

,Title,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Officer,FamilyS,FamilySize,Singleton,SmallFamily,LargeFamily,Cabin_A,Cabin_B,Cabin_C,Cabin_D
206,Miss,0,1,0,0,0,1,1,1,0,0,0,0,0,0
207,Mr,0,0,1,0,0,1,1,1,0,0,0,0,0,0
208,Miss,0,1,0,0,0,1,1,1,0,0,1,0,0,0

In [213]:
xy_train['FamilyS'] = xy_train['SibSp'] + xy_train['Parch'] + 1
x_test['FamilyS'] = x_test['SibSp'] + x_test['Parch'] + 1



# introducing a new feature : the size of families (including the passenger)
xy_train['FamilySize'] = xy_train['Parch'] + xy_train['SibSp'] + 1
   
# introducing other features based on the family size
xy_train['Singleton'] = xy_train['FamilySize'].map(lambda s: 1 if s == 1 else 0)
xy_train['SmallFamily'] = xy_train['FamilySize'].map(lambda s: 1 if 2 <= s <= 4 else 0)
xy_train['LargeFamily'] = xy_train['FamilySize'].map(lambda s: 1 if 5 <= s else 0)


# introducing a new feature : the size of families (including the passenger)
x_test['FamilySize'] = x_test['Parch'] + x_test['SibSp'] + 1
   
# introducing other features based on the family size
x_test['Singleton'] = x_test['FamilySize'].map(lambda s: 1 if s == 1 else 0)
x_test['SmallFamily'] = x_test['FamilySize'].map(lambda s: 1 if 2 <= s <= 4 else 0)
x_test['LargeFamily'] = x_test['FamilySize'].map(lambda s: 1 if 5 <= s else 0)

In [854]:
xy_train.sample(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_U,Embarked_C,Embarked_Q,Embarked_S,Pclass_fit,Fare_fit
255,256,1,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",0,0.3625,0,2,2650,15.2458,...,0,0,0,0,1,1,0,0,0.827377,-0.341452
637,638,0,2,"Collyer, Mr. Harvey",1,0.3875,1,1,C.A. 31921,26.2500,...,0,0,0,0,1,0,0,1,-0.369365,-0.119886
419,420,0,3,"Van Impe, Miss. Catharina",0,0.1250,0,2,345773,24.1500,...,0,0,0,0,1,0,0,1,0.827377,-0.162169

In [227]:
#process fare
xy_train.Fare.fillna(xy_train.Fare.mean(), inplace=True)
x_test.Fare.fillna(xy_train.Fare.mean(), inplace=True) # we use tran set data here

In [851]:
#extra fare processing
#xy_train.Fare = xy_train.Fare/513
#x_test.Fare = x_test.Fare/513

#put back
xy_train.Fare = xy_train.Fare*513
x_test.Fare = x_test.Fare*513

In [853]:
# test : scale fare
xy_train['Fare_fit'] = StandardScaler().fit_transform(xy_train['Fare'].values.reshape(-1, 1))
x_test['Fare_fit'] = StandardScaler().fit_transform(x_test['Fare'].values.reshape(-1, 1))

#process cabin

# replacing missing cabins with U (for Uknown)
xy_train.Cabin.fillna('U', inplace=True)
x_test.Cabin.fillna('U', inplace=True)
    
# mapping each Cabin value with the cabin letter
xy_train['Cabin'] = xy_train['Cabin'].map(lambda c: c[0])
x_test['Cabin'] = x_test['Cabin'].map(lambda c: c[0])
    
# dummy encoding ...
cabin_dummies_tr = pd.get_dummies(xy_train['Cabin'], prefix='Cabin')    
xy_train = pd.concat([xy_train, cabin_dummies_tr], axis=1)

cabin_dummies_t = pd.get_dummies(x_test['Cabin'], prefix='Cabin')    
x_test = pd.concat([x_test, cabin_dummies_t], axis=1)

In [238]:
# get the number of missing data points per column
missing_values_count = xy_train.isnull().sum()

# look at the # of missing points in the first ten columns
missing_values_count [5] #5 is age

# how many total missing values do we have?
total_cells = (xy_train.shape[0])
total_missing = missing_values_count[5]

# percent of data that is missing
(total_missing/total_cells) * 100

19.865319865319865

In [674]:
#play with embarked
xy_train['Embarked'].fillna('S', inplace = True)
xy_train.isnull().sum().sort_values(ascending = False)

# dummy encoding ...
Embarked_tr = pd.get_dummies(xy_train['Embarked'], prefix='Embarked')    
xy_train = pd.concat([xy_train, Embarked_tr], axis=1)

Embarked_t = pd.get_dummies(x_test['Embarked'], prefix='Embarked')    
x_test = pd.concat([x_test, Embarked_t], axis=1)

In [822]:
from sklearn.preprocessing import StandardScaler

In [828]:
#test with pclass
xy_train['Pclass_fit'] = StandardScaler().fit_transform(xy_train['Pclass'].values.reshape(-1, 1))
x_test['Pclass_fit'] = StandardScaler().fit_transform(x_test['Pclass'].values.reshape(-1, 1))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [826]:
xy_train.describe()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,...,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_U,Embarked_C,Embarked_Q,Embarked_S,Pclass_fit
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,...,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,8.910000e+02
mean,446.000000,0.383838,2.308642,0.647587,0.364228,0.523008,0.381594,0.062776,0.242424,0.206510,...,0.037037,0.035915,0.014590,0.004489,0.001122,0.771044,0.188552,0.086420,0.725028,-2.031048e-16
std,257.353842,0.486592,0.836071,0.477990,0.168690,1.102743,0.806057,0.096868,0.428790,0.405028,...,0.188959,0.186182,0.119973,0.066890,0.033501,0.420397,0.391372,0.281141,0.446751,1.000562e+00
min,1.000000,0.000000,1.000000,0.000000,0.005250,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.566107e+00
25%,223.500000,0.000000,2.000000,0.000000,0.262500,0.000000,0.000000,0.015420,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,-3.693648e-01
50%,446.000000,0.000000,3.000000,1.000000,0.325000,0.000000,0.000000,0.028176,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,8.273772e-01
75%,668.500000,1.000000,3.000000,1.000000,0.459375,1.000000,0.000000,0.060429,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,8.273772e-01
max,891.000000,1.000000,3.000000,1.000000,1.000000,8.000000,6.000000,0.998692,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,8.273772e-01

In [791]:
xy_train.sample(1)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_U,Embarked_C,Embarked_Q,Embarked_S
764,765,0,3,"Eklund, Mr. Hans Linus",1,0.2,0,0,347074,0.015156,...,0,0,0,0,0,0,1,0,0,1

In [898]:
class TitanicDataset(Dataset):
    """ Titanic dataset."""

    # Initialize your data, download, etc.
    def __init__(self):

        #Train data
        self.len = xy_train.shape[0]
        #self.pt_x_data = torch.from_numpy(np.array(xy_train.loc[:, ['Cabin_C','Cabin_D','Cabin_E','Cabin_F','Cabin_G','Age', 'Sex', 'Pclass_1', 'Pclass_2', 'Pclass_3', 'Parch', 'Title_Master', 'Title_Miss', 'Title_Mr', 'Title_Mrs','Pclass_3', 'Title_Officer', 'Title_Royalty', 'FamilySize', 'Singleton', 'SmallFamily', 'LargeFamily', 'Fare']].values, dtype='float')).float()
        self.pt_x_data = torch.from_numpy(np.array(xy_train.loc[:, ['Parch','SibSp', 'Pclass_1', 'Pclass_3', 'Embarked_C', 'Embarked_Q', 'Embarked_S',  'Cabin_C','Cabin_U','Title_Mrs','Title_Miss','Title_Mr', 'Title_Master',  'Sex',   'Singleton', 'SmallFamily', 'LargeFamily']].values, dtype='float')).float()
        #self.pt_x_data = torch.from_numpy(np.array(xy_train.loc[:, ['1','2','3']].values, dtype='float')).float()
        self.y_data = np.array(xy_train.loc[:, ['Survived']].values, dtype='float')
        self.pt_y_data = torch.from_numpy(self.y_data).float()
        
        #Test data
        #self.pt_x_data_test = torch.from_numpy(np.array(x_test.loc[:, ['Age', 'Sex', 'Pclass_1', 'Pclass_2', 'Pclass_3','Parch', 'Title_Master','Title_Miss', 'Title_Mr', 'Title_Mrs', 'Title_Officer', 'Title_Royalty', 'FamilySize','Pclass_3', 'Singleton', 'SmallFamily', 'LargeFamily', 'Fare']].values, dtype='float')).float()
        self.pt_x_data_test = torch.from_numpy(np.array(x_test.loc[:, ['Parch','SibSp', 'Pclass_1','Pclass_3', 'Embarked_C', 'Embarked_Q', 'Embarked_S',  'Cabin_C','Cabin_U','Title_Mrs','Title_Miss', 'Title_Mr', 'Title_Master',  'Sex',  'Singleton', 'SmallFamily', 'LargeFamily']].values, dtype='float')).float()
        #self.y_data_test = np.array(xy_test.loc[:, ['Survived']].values, dtype='float')

    def __getitem__(self, index):
        return self.pt_x_data[index], self.pt_y_data[index]

    def __len__(self):
        return self.len


dataset = TitanicDataset()

In [899]:
train_loader = DataLoader(dataset=dataset,
                          batch_size=50,
                          shuffle=True,
                          num_workers=0)

In [900]:
#type(train_loader)
print (dataset.pt_x_data.shape)
print (dataset.y_data.shape)
print (dataset.pt_y_data.shape)

#print (dataset.pt_x_data)
#print (dataset.y_data)

torch.Size([891, 17])
(891, 1)
torch.Size([891, 1])

In [901]:
class Model(torch.nn.Module):

    def __init__(self):
        """
        In the constructor we instantiate two nn.Linear module
        """
        super(Model, self).__init__()
        self.L1 = torch.nn.Linear(17, 270)
        self.L2 = torch.nn.Linear(270, 1)
        #self.L3 = torch.nn.Linear(50, 1)

        self.sigmoid = torch.nn.Sigmoid()
        self.relu = torch.nn.ReLU()

    def forward(self, x):
        """
        In the forward function we accept a Variable of input data and we must return
        a Variable of output data. We can use Modules defined in the constructor as
        well as arbitrary operators on Variables.
        """
        #out1 = self.sigmoid(self.l1(x))
        #out2 = self.sigmoid(self.l2(out1))
        #y_pred = self.sigmoid(self.l3(out2))
        
        #out1 = self.relu(self.L1(x))
        
        out1 = self.L1(x)
        out1 = F.dropout(out1, p=0.1)
        out1 = self.relu(out1)
        
        #out2 = self.L2(out1)
        #out2 = F.dropout(out2, p=0.1)
        #out2 = self.relu(out2)
        
        y_pred = self.sigmoid(self.L2(out1))
        
        
                
        return y_pred

# our model
model = Model()

In [902]:
# Construct our loss function and an Optimizer. The call to model.parameters()
# in the SGD constructor will contain the learnable parameters of the two
# nn.Linear modules which are members of the model.
criterion = torch.nn.BCELoss(size_average=True)
#optimizer = torch.optim.SGD(model.parameters(), lr=0.01)
optimizer = torch.optim.Adam(model.parameters(), lr=0.01)

C:\ProgramData\Anaconda3\lib\site-packages\torch\nn\functional.py:52: UserWarning: size_average and reduce args will be deprecated, please use reduction='elementwise_mean' instead.
  warnings.warn(warning.format(ret))

In [903]:
# Training loop
model.train()

for epoch in range(100):
    for i, data in enumerate(train_loader, 0):
        # get the inputs
        inputs, labels = data

        # wrap them in Variable
        inputs, labels = Variable(inputs), Variable(labels)

        # Forward pass: Compute predicted y by passing x to the model
        y_pred = model(inputs)

        # Compute and print loss
        loss = criterion(y_pred, labels)
        print(epoch, i, loss.data[0])

        # Zero gradients, perform a backward pass, and update the weights.
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: UserWarning: invalid index of a 0-dim tensor. This will be an error in PyTorch 0.5. Use tensor.item() to convert a 0-dim tensor to a Python number

0 0 tensor(0.7053)
0 1 tensor(0.6683)
0 2 tensor(0.5071)
0 3 tensor(0.5333)
0 4 tensor(0.5489)
0 5 tensor(0.4437)
0 6 tensor(0.4669)
0 7 tensor(0.5116)
0 8 tensor(0.4516)
0 9 tensor(0.4537)
0 10 tensor(0.3731)
0 11 tensor(0.4640)
0 12 tensor(0.4403)
0 13 tensor(0.6396)
0 14 tensor(0.3435)
0 15 tensor(0.4385)
0 16 tensor(0.4426)
0 17 tensor(0.4456)
1 0 tensor(0.3718)
1 1 tensor(0.3296)
1 2 tensor(0.3999)
1 3 tensor(0.6366)
1 4 tensor(0.4278)
1 5 tensor(0.4041)
1 6 tensor(0.4065)
1 7 tensor(0.3621)
1 8 tensor(0.5556)
1 9 tensor(0.4626)
1 10 tensor(0.2890)
1 11 tensor(0.4383)
1 12 tensor(0.3991)
1 13 tensor(0.5057)
1 14 tensor(0.3995)
1 15 tensor(0.2952)
1 16 tensor(0.4265)
1 17 tensor(0.4411)
2 0 tensor(0.3989)
2 1 tensor(0.4582)
2 2 tensor(0.3973)
2 3 tensor(0.3052)
2 4 tensor(0.5494)
2 5 tensor(0.5188)
2 6 tensor(0.4725)
2 7 tensor(0.5321)
2 8 tensor(0.3242)
2 9 tensor(0.4165)
2 10 tensor(0.3201)
2 11 tensor(0.3828)
2 12 tensor(0.3534)
2 13 tensor(0.4168)
2 14 tensor(0.2646)
2 15 tensor(0.4679)
2 16 tensor(0.4214)
2 17 tensor(0.3532)
3 0 tensor(0.3913)
3 1 tensor(0.3848)
3 2 tensor(0.4744)
3 3 tensor(0.4233)
3 4 tensor(0.3483)
3 5 tensor(0.4319)
3 6 tensor(0.2891)
3 7 tensor(0.4096)
3 8 tensor(0.4214)
3 9 tensor(0.4703)
3 10 tensor(0.5396)
3 11 tensor(0.3924)
3 12 tensor(0.2630)
3 13 tensor(0.4234)
3 14 tensor(0.3514)
3 15 tensor(0.2272)
3 16 tensor(0.4683)
3 17 tensor(0.3784)
4 0 tensor(0.3768)
4 1 tensor(0.2774)
4 2 tensor(0.4273)
4 3 tensor(0.3680)
4 4 tensor(0.4058)
4 5 tensor(0.4067)
4 6 tensor(0.3034)
4 7 tensor(0.3877)
4 8 tensor(0.3743)
4 9 tensor(0.4474)
4 10 tensor(0.4341)
4 11 tensor(0.4032)
4 12 tensor(0.5599)
4 13 tensor(0.3226)
4 14 tensor(0.3203)
4 15 tensor(0.4236)
4 16 tensor(0.4173)
4 17 tensor(0.4765)
5 0 tensor(0.3684)
5 1 tensor(0.2066)
5 2 tensor(0.3528)
5 3 tensor(0.5638)
5 4 tensor(0.3646)
5 5 tensor(0.3150)
5 6 tensor(0.5072)
5 7 tensor(0.3512)
5 8 tensor(0.4171)
5 9 tensor(0.5162)
5 10 tensor(0.4065)
5 11 tensor(0.2326)
5 12 tensor(0.3806)
5 13 tensor(0.3823)
5 14 tensor(0.4580)
5 15 tensor(0.3408)
5 16 tensor(0.4586)
5 17 tensor(0.3853)
6 0 tensor(0.4154)
6 1 tensor(0.3177)
6 2 tensor(0.4458)
6 3 tensor(0.4341)
6 4 tensor(0.3567)
6 5 tensor(0.3603)
6 6 tensor(0.3589)
6 7 tensor(0.3787)
6 8 tensor(0.3966)
6 9 tensor(0.3219)
6 10 tensor(0.5609)
6 11 tensor(0.3382)
6 12 tensor(0.3041)
6 13 tensor(0.3360)
6 14 tensor(0.3228)
6 15 tensor(0.4044)
6 16 tensor(0.3592)
6 17 tensor(0.3861)
7 0 tensor(0.4410)
7 1 tensor(0.4619)
7 2 tensor(0.3048)
7 3 tensor(0.2336)
7 4 tensor(0.2886)
7 5 tensor(0.4225)
7 6 tensor(0.5408)
7 7 tensor(0.3402)
7 8 tensor(0.2903)
7 9 tensor(0.2923)
7 10 tensor(0.3187)
7 11 tensor(0.4288)
7 12 tensor(0.4382)
7 13 tensor(0.4898)
7 14 tensor(0.2837)
7 15 tensor(0.3921)
7 16 tensor(0.5226)
7 17 tensor(0.4185)
8 0 tensor(0.3209)
8 1 tensor(0.4374)
8 2 tensor(0.3051)
8 3 tensor(0.3091)
8 4 tensor(0.3916)
8 5 tensor(0.5190)
8 6 tensor(0.4844)
8 7 tensor(0.3497)
8 8 tensor(0.2861)
8 9 tensor(0.3902)
8 10 tensor(0.4552)
8 11 tensor(0.3442)
8 12 tensor(0.4028)
8 13 tensor(0.4335)
8 14 tensor(0.4411)
8 15 tensor(0.3610)
8 16 tensor(0.3049)
8 17 tensor(0.2547)
9 0 tensor(0.4210)
9 1 tensor(0.3797)
9 2 tensor(0.4584)
9 3 tensor(0.4065)
9 4 tensor(0.3633)
9 5 tensor(0.2813)
9 6 tensor(0.2873)
9 7 tensor(0.3748)
9 8 tensor(0.4592)
9 9 tensor(0.3444)
9 10 tensor(0.4587)
9 11 tensor(0.3160)
9 12 tensor(0.3449)
9 13 tensor(0.2742)
9 14 tensor(0.3251)
9 15 tensor(0.4963)
9 16 tensor(0.4392)
9 17 tensor(0.4656)
10 0 tensor(0.4376)
10 1 tensor(0.3308)
10 2 tensor(0.4240)
10 3 tensor(0.3204)
10 4 tensor(0.4108)
10 5 tensor(0.3058)
10 6 tensor(0.3213)
10 7 tensor(0.4240)
10 8 tensor(0.4343)
10 9 tensor(0.2323)
10 10 tensor(0.2783)
10 11 tensor(0.4409)
10 12 tensor(0.3455)
10 13 tensor(0.3099)
10 14 tensor(0.4336)
10 15 tensor(0.4986)
10 16 tensor(0.3179)
10 17 tensor(0.4139)
11 0 tensor(0.3429)
11 1 tensor(0.3211)
11 2 tensor(0.3395)
11 3 tensor(0.3607)
11 4 tensor(0.3526)
11 5 tensor(0.3280)
11 6 tensor(0.3098)
11 7 tensor(0.5595)
11 8 tensor(0.3999)
11 9 tensor(0.3309)
11 10 tensor(0.2802)
11 11 tensor(0.3576)
11 12 tensor(0.4163)
11 13 tensor(0.4380)
11 14 tensor(0.4432)
11 15 tensor(0.3138)
11 16 tensor(0.3884)
11 17 tensor(0.4100)
12 0 tensor(0.3609)
12 1 tensor(0.3840)
12 2 tensor(0.2739)
12 3 tensor(0.3726)
12 4 tensor(0.4142)
12 5 tensor(0.2454)
12 6 tensor(0.3557)
12 7 tensor(0.3530)
12 8 tensor(0.3060)
12 9 tensor(0.4018)
12 10 tensor(0.4881)
12 11 tensor(0.2628)
12 12 tensor(0.2876)
12 13 tensor(0.3686)
12 14 tensor(0.4632)
12 15 tensor(0.4809)
12 16 tensor(0.4057)
12 17 tensor(0.3327)
13 0 tensor(0.3079)
13 1 tensor(0.3784)
13 2 tensor(0.2279)
13 3 tensor(0.3744)
13 4 tensor(0.4986)
13 5 tensor(0.3903)
13 6 tensor(0.3105)
13 7 tensor(0.3917)
13 8 tensor(0.3893)
13 9 tensor(0.3121)
13 10 tensor(0.3836)
13 11 tensor(0.4129)
13 12 tensor(0.4585)
13 13 tensor(0.3677)
13 14 tensor(0.3198)
13 15 tensor(0.3377)
13 16 tensor(0.3808)
13 17 tensor(0.3629)
14 0 tensor(0.2646)
14 1 tensor(0.3689)
14 2 tensor(0.2109)
14 3 tensor(0.3951)
14 4 tensor(0.4815)
14 5 tensor(0.3488)
14 6 tensor(0.2297)
14 7 tensor(0.2846)
14 8 tensor(0.4398)
14 9 tensor(0.3408)
14 10 tensor(0.3950)
14 11 tensor(0.5984)
14 12 tensor(0.4129)
14 13 tensor(0.3523)
14 14 tensor(0.3102)
14 15 tensor(0.2948)
14 16 tensor(0.2787)
14 17 tensor(0.5049)
15 0 tensor(0.3575)
15 1 tensor(0.3453)
15 2 tensor(0.4101)
15 3 tensor(0.3305)
15 4 tensor(0.3702)
15 5 tensor(0.2568)
15 6 tensor(0.2855)
15 7 tensor(0.2311)
15 8 tensor(0.3859)
15 9 tensor(0.3675)
15 10 tensor(0.4160)
15 11 tensor(0.2945)
15 12 tensor(0.5900)
15 13 tensor(0.3933)
15 14 tensor(0.3824)
15 15 tensor(0.4501)
15 16 tensor(0.2995)
15 17 tensor(0.3744)
16 0 tensor(0.3354)
16 1 tensor(0.3188)
16 2 tensor(0.3694)
16 3 tensor(0.3007)
16 4 tensor(0.3379)
16 5 tensor(0.3639)
16 6 tensor(0.2645)
16 7 tensor(0.3191)
16 8 tensor(0.3119)
16 9 tensor(0.4280)
16 10 tensor(0.3892)
16 11 tensor(0.3831)
16 12 tensor(0.5089)
16 13 tensor(0.4064)
16 14 tensor(0.3021)
16 15 tensor(0.3831)
16 16 tensor(0.3215)
16 17 tensor(0.4052)
17 0 tensor(0.3309)
17 1 tensor(0.5721)
17 2 tensor(0.4268)
17 3 tensor(0.3754)
17 4 tensor(0.5139)
17 5 tensor(0.2978)
17 6 tensor(0.3363)
17 7 tensor(0.2562)
17 8 tensor(0.3125)
17 9 tensor(0.3604)
17 10 tensor(0.2819)
17 11 tensor(0.3660)
17 12 tensor(0.3344)
17 13 tensor(0.4418)
17 14 tensor(0.3090)
17 15 tensor(0.3030)
17 16 tensor(0.4853)
17 17 tensor(0.2468)
18 0 tensor(0.2343)
18 1 tensor(0.2005)
18 2 tensor(0.3743)
18 3 tensor(0.3984)
18 4 tensor(0.3247)
18 5 tensor(0.3672)
18 6 tensor(0.2931)
18 7 tensor(0.3402)
18 8 tensor(0.4027)
18 9 tensor(0.4665)
18 10 tensor(0.3763)
18 11 tensor(0.3021)
18 12 tensor(0.3905)
18 13 tensor(0.5051)
18 14 tensor(0.4441)
18 15 tensor(0.3364)
18 16 tensor(0.2408)
18 17 tensor(0.4442)
19 0 tensor(0.3310)
19 1 tensor(0.4944)
19 2 tensor(0.3921)
19 3 tensor(0.4052)
19 4 tensor(0.3337)
19 5 tensor(0.2615)
19 6 tensor(0.2677)
19 7 tensor(0.2622)
19 8 tensor(0.3397)
19 9 tensor(0.4104)
19 10 tensor(0.5234)
19 11 tensor(0.3352)
19 12 tensor(0.3825)
19 13 tensor(0.4731)
19 14 tensor(0.3085)
19 15 tensor(0.1950)
19 16 tensor(0.3025)
19 17 tensor(0.3577)
20 0 tensor(0.2725)
20 1 tensor(0.4424)
20 2 tensor(0.2162)
20 3 tensor(0.3793)
20 4 tensor(0.2714)
20 5 tensor(0.2803)
20 6 tensor(0.4621)
20 7 tensor(0.3513)
20 8 tensor(0.3463)
20 9 tensor(0.2689)
20 10 tensor(0.2743)
20 11 tensor(0.5618)
20 12 tensor(0.4846)
20 13 tensor(0.4240)
20 14 tensor(0.2363)
20 15 tensor(0.2324)
20 16 tensor(0.4810)
20 17 tensor(0.4336)
21 0 tensor(0.4136)
21 1 tensor(0.3307)
21 2 tensor(0.3367)
21 3 tensor(0.3807)
21 4 tensor(0.3465)
21 5 tensor(0.4161)
21 6 tensor(0.4492)
21 7 tensor(0.4000)
21 8 tensor(0.2407)
21 9 tensor(0.3492)
21 10 tensor(0.3566)
21 11 tensor(0.2625)
21 12 tensor(0.3695)
21 13 tensor(0.3182)
21 14 tensor(0.3170)
21 15 tensor(0.4978)
21 16 tensor(0.3065)
21 17 tensor(0.4474)
22 0 tensor(0.3723)
22 1 tensor(0.2811)
22 2 tensor(0.3293)
22 3 tensor(0.4545)
22 4 tensor(0.3872)
22 5 tensor(0.4843)
22 6 tensor(0.3966)
22 7 tensor(0.3479)
22 8 tensor(0.2862)
22 9 tensor(0.2369)
22 10 tensor(0.2375)
22 11 tensor(0.4362)
22 12 tensor(0.4574)
22 13 tensor(0.3496)
22 14 tensor(0.4190)
22 15 tensor(0.3110)
22 16 tensor(0.2972)
22 17 tensor(0.4479)
23 0 tensor(0.3052)
23 1 tensor(0.2900)
23 2 tensor(0.3074)
23 3 tensor(0.3129)
23 4 tensor(0.2778)
23 5 tensor(0.2074)
23 6 tensor(0.3146)
23 7 tensor(0.5733)
23 8 tensor(0.4220)
23 9 tensor(0.3311)

23 10 tensor(0.5615)
23 11 tensor(0.4866)
23 12 tensor(0.3865)
23 13 tensor(0.3391)
23 14 tensor(0.2607)
23 15 tensor(0.3357)
23 16 tensor(0.3835)
23 17 tensor(0.3721)
24 0 tensor(0.3175)
24 1 tensor(0.4293)
24 2 tensor(0.3599)
24 3 tensor(0.3494)
24 4 tensor(0.2211)
24 5 tensor(0.3511)
24 6 tensor(0.3911)
24 7 tensor(0.4183)
24 8 tensor(0.3739)
24 9 tensor(0.3478)
24 10 tensor(0.3860)
24 11 tensor(0.2464)
24 12 tensor(0.3315)
24 13 tensor(0.3589)
24 14 tensor(0.3784)
24 15 tensor(0.3351)
24 16 tensor(0.4202)
24 17 tensor(0.3419)
25 0 tensor(0.4393)
25 1 tensor(0.1529)
25 2 tensor(0.4720)
25 3 tensor(0.1891)
25 4 tensor(0.3468)
25 5 tensor(0.2555)
25 6 tensor(0.3819)
25 7 tensor(0.4157)
25 8 tensor(0.4187)
25 9 tensor(0.3949)
25 10 tensor(0.4207)
25 11 tensor(0.3298)
25 12 tensor(0.2999)
25 13 tensor(0.3069)
25 14 tensor(0.2766)
25 15 tensor(0.3510)
25 16 tensor(0.4448)
25 17 tensor(0.4045)
26 0 tensor(0.3625)
26 1 tensor(0.3962)
26 2 tensor(0.2666)
26 3 tensor(0.3851)
26 4 tensor(0.3068)
26 5 tensor(0.3278)
26 6 tensor(0.3153)
26 7 tensor(0.3102)
26 8 tensor(0.3808)
26 9 tensor(0.3282)
26 10 tensor(0.2018)
26 11 tensor(0.3679)
26 12 tensor(0.5185)
26 13 tensor(0.3118)
26 14 tensor(0.4201)
26 15 tensor(0.2950)
26 16 tensor(0.3006)
26 17 tensor(0.5444)
27 0 tensor(0.2558)
27 1 tensor(0.4050)
27 2 tensor(0.3634)
27 3 tensor(0.3330)
27 4 tensor(0.3694)
27 5 tensor(0.2784)
27 6 tensor(0.3087)
27 7 tensor(0.3513)
27 8 tensor(0.3824)
27 9 tensor(0.3208)
27 10 tensor(0.3762)
27 11 tensor(0.3826)
27 12 tensor(0.5364)
27 13 tensor(0.3642)
27 14 tensor(0.2841)
27 15 tensor(0.3711)
27 16 tensor(0.2640)
27 17 tensor(0.2556)
28 0 tensor(0.4476)
28 1 tensor(0.2739)
28 2 tensor(0.3589)
28 3 tensor(0.2693)
28 4 tensor(0.4005)
28 5 tensor(0.2143)
28 6 tensor(0.4060)
28 7 tensor(0.3522)
28 8 tensor(0.2927)
28 9 tensor(0.4238)
28 10 tensor(0.4216)
28 11 tensor(0.2679)
28 12 tensor(0.3765)
28 13 tensor(0.3541)
28 14 tensor(0.3378)
28 15 tensor(0.3204)
28 16 tensor(0.3298)
28 17 tensor(0.3627)
29 0 tensor(0.4659)
29 1 tensor(0.4963)
29 2 tensor(0.2522)
29 3 tensor(0.3899)
29 4 tensor(0.3378)
29 5 tensor(0.3033)
29 6 tensor(0.2780)
29 7 tensor(0.3506)
29 8 tensor(0.3045)
29 9 tensor(0.3607)
29 10 tensor(0.2825)
29 11 tensor(0.3145)
29 12 tensor(0.2527)
29 13 tensor(0.2768)
29 14 tensor(0.4368)
29 15 tensor(0.3210)
29 16 tensor(0.3634)
29 17 tensor(0.4680)
30 0 tensor(0.3227)
30 1 tensor(0.3032)
30 2 tensor(0.3626)
30 3 tensor(0.3790)
30 4 tensor(0.4134)
30 5 tensor(0.3375)
30 6 tensor(0.3069)
30 7 tensor(0.3640)
30 8 tensor(0.2127)
30 9 tensor(0.3048)
30 10 tensor(0.4107)
30 11 tensor(0.2837)
30 12 tensor(0.4843)
30 13 tensor(0.3777)
30 14 tensor(0.4045)
30 15 tensor(0.3661)
30 16 tensor(0.3302)
30 17 tensor(0.2683)
31 0 tensor(0.4288)
31 1 tensor(0.2254)
31 2 tensor(0.2545)
31 3 tensor(0.3145)
31 4 tensor(0.3000)
31 5 tensor(0.3393)
31 6 tensor(0.3915)
31 7 tensor(0.3561)
31 8 tensor(0.3749)
31 9 tensor(0.3326)
31 10 tensor(0.3852)
31 11 tensor(0.4195)
31 12 tensor(0.2588)
31 13 tensor(0.6186)
31 14 tensor(0.3355)
31 15 tensor(0.3194)
31 16 tensor(0.2842)
31 17 tensor(0.2698)
32 0 tensor(0.3392)
32 1 tensor(0.3336)
32 2 tensor(0.3313)
32 3 tensor(0.3437)
32 4 tensor(0.3474)
32 5 tensor(0.2620)
32 6 tensor(0.5208)
32 7 tensor(0.4772)
32 8 tensor(0.2975)
32 9 tensor(0.3304)
32 10 tensor(0.2880)
32 11 tensor(0.1722)
32 12 tensor(0.2772)
32 13 tensor(0.4209)
32 14 tensor(0.5356)
32 15 tensor(0.2990)
32 16 tensor(0.3659)
32 17 tensor(0.3081)
33 0 tensor(0.3105)
33 1 tensor(0.3426)
33 2 tensor(0.4352)
33 3 tensor(0.2811)
33 4 tensor(0.2393)
33 5 tensor(0.2892)
33 6 tensor(0.3867)
33 7 tensor(0.4804)
33 8 tensor(0.3624)
33 9 tensor(0.2902)
33 10 tensor(0.2169)
33 11 tensor(0.3845)
33 12 tensor(0.4189)
33 13 tensor(0.3526)
33 14 tensor(0.3321)
33 15 tensor(0.2351)
33 16 tensor(0.7190)
33 17 tensor(0.3004)
34 0 tensor(0.3158)
34 1 tensor(0.3195)
34 2 tensor(0.2460)
34 3 tensor(0.3608)
34 4 tensor(0.3008)
34 5 tensor(0.4184)
34 6 tensor(0.2982)
34 7 tensor(0.4005)
34 8 tensor(0.5169)
34 9 tensor(0.4843)
34 10 tensor(0.3317)
34 11 tensor(0.2905)
34 12 tensor(0.3586)
34 13 tensor(0.3402)
34 14 tensor(0.2680)
34 15 tensor(0.3883)
34 16 tensor(0.3733)
34 17 tensor(0.2485)
35 0 tensor(0.3216)
35 1 tensor(0.3889)
35 2 tensor(0.3098)
35 3 tensor(0.3071)
35 4 tensor(0.3495)
35 5 tensor(0.2830)
35 6 tensor(0.4314)
35 7 tensor(0.4081)
35 8 tensor(0.3719)
35 9 tensor(0.3940)
35 10 tensor(0.2977)
35 11 tensor(0.3838)
35 12 tensor(0.3564)
35 13 tensor(0.2774)
35 14 tensor(0.3650)
35 15 tensor(0.3100)
35 16 tensor(0.3105)
35 17 tensor(0.4400)
36 0 tensor(0.4221)
36 1 tensor(0.3281)
36 2 tensor(0.3321)
36 3 tensor(0.3308)
36 4 tensor(0.3432)
36 5 tensor(0.4511)
36 6 tensor(0.4274)
36 7 tensor(0.2570)
36 8 tensor(0.3099)
36 9 tensor(0.4455)
36 10 tensor(0.2863)
36 11 tensor(0.3232)
36 12 tensor(0.2838)
36 13 tensor(0.3221)
36 14 tensor(0.3495)
36 15 tensor(0.3661)
36 16 tensor(0.4077)
36 17 tensor(0.1533)
37 0 tensor(0.3055)
37 1 tensor(0.2484)
37 2 tensor(0.3038)
37 3 tensor(0.4187)
37 4 tensor(0.3564)
37 5 tensor(0.3812)
37 6 tensor(0.3241)
37 7 tensor(0.3410)
37 8 tensor(0.3915)
37 9 tensor(0.3220)
37 10 tensor(0.5163)
37 11 tensor(0.3155)
37 12 tensor(0.2940)
37 13 tensor(0.3066)
37 14 tensor(0.3518)
37 15 tensor(0.3928)
37 16 tensor(0.3007)
37 17 tensor(0.3023)
38 0 tensor(0.2879)
38 1 tensor(0.3386)
38 2 tensor(0.2654)
38 3 tensor(0.2402)
38 4 tensor(0.4953)
38 5 tensor(0.3645)
38 6 tensor(0.6068)
38 7 tensor(0.1931)
38 8 tensor(0.4129)
38 9 tensor(0.4438)
38 10 tensor(0.2530)
38 11 tensor(0.4702)
38 12 tensor(0.3331)
38 13 tensor(0.3272)
38 14 tensor(0.4032)
38 15 tensor(0.2617)
38 16 tensor(0.3662)
38 17 tensor(0.2534)
39 0 tensor(0.3658)
39 1 tensor(0.2503)
39 2 tensor(0.3516)
39 3 tensor(0.3014)
39 4 tensor(0.2854)
39 5 tensor(0.3116)
39 6 tensor(0.3760)
39 7 tensor(0.4398)
39 8 tensor(0.3752)
39 9 tensor(0.3197)
39 10 tensor(0.3280)
39 11 tensor(0.3123)
39 12 tensor(0.4710)
39 13 tensor(0.3654)
39 14 tensor(0.3356)
39 15 tensor(0.3739)
39 16 tensor(0.3480)
39 17 tensor(0.3536)
40 0 tensor(0.2762)
40 1 tensor(0.3110)
40 2 tensor(0.4328)
40 3 tensor(0.3711)
40 4 tensor(0.2666)
40 5 tensor(0.2784)
40 6 tensor(0.3802)
40 7 tensor(0.3596)
40 8 tensor(0.2474)
40 9 tensor(0.4223)
40 10 tensor(0.3133)
40 11 tensor(0.2618)
40 12 tensor(0.3927)
40 13 tensor(0.4230)
40 14 tensor(0.3354)
40 15 tensor(0.4329)
40 16 tensor(0.3540)
40 17 tensor(0.3196)
41 0 tensor(0.3077)
41 1 tensor(0.3130)
41 2 tensor(0.2269)
41 3 tensor(0.2243)
41 4 tensor(0.3190)
41 5 tensor(0.2490)
41 6 tensor(0.4248)
41 7 tensor(0.2815)
41 8 tensor(0.4846)
41 9 tensor(0.3466)
41 10 tensor(0.3769)
41 11 tensor(0.4361)
41 12 tensor(0.3688)
41 13 tensor(0.4254)
41 14 tensor(0.3038)
41 15 tensor(0.4067)
41 16 tensor(0.3337)
41 17 tensor(0.3177)
42 0 tensor(0.3313)
42 1 tensor(0.3335)
42 2 tensor(0.2548)
42 3 tensor(0.2053)
42 4 tensor(0.4368)
42 5 tensor(0.4061)
42 6 tensor(0.2668)
42 7 tensor(0.5207)
42 8 tensor(0.3284)
42 9 tensor(0.4333)
42 10 tensor(0.2934)
42 11 tensor(0.3830)
42 12 tensor(0.3010)
42 13 tensor(0.3994)
42 14 tensor(0.3241)
42 15 tensor(0.2569)
42 16 tensor(0.2770)
42 17 tensor(0.3427)
43 0 tensor(0.2503)
43 1 tensor(0.3301)
43 2 tensor(0.3571)
43 3 tensor(0.2998)
43 4 tensor(0.4313)
43 5 tensor(0.2443)
43 6 tensor(0.3504)
43 7 tensor(0.1843)
43 8 tensor(0.2580)
43 9 tensor(0.4085)
43 10 tensor(0.3091)
43 11 tensor(0.4122)
43 12 tensor(0.4318)
43 13 tensor(0.4238)
43 14 tensor(0.2511)
43 15 tensor(0.5241)
43 16 tensor(0.2294)
43 17 tensor(0.4479)
44 0 tensor(0.1827)
44 1 tensor(0.2839)
44 2 tensor(0.2470)
44 3 tensor(0.2132)
44 4 tensor(0.3818)
44 5 tensor(0.3273)
44 6 tensor(0.4426)
44 7 tensor(0.3128)
44 8 tensor(0.3621)
44 9 tensor(0.3234)
44 10 tensor(0.2660)
44 11 tensor(0.5043)
44 12 tensor(0.3454)
44 13 tensor(0.4912)
44 14 tensor(0.3275)
44 15 tensor(0.3229)
44 16 tensor(0.2884)
44 17 tensor(0.4605)
45 0 tensor(0.2656)
45 1 tensor(0.3510)
45 2 tensor(0.3765)
45 3 tensor(0.2157)
45 4 tensor(0.2510)
45 5 tensor(0.3638)
45 6 tensor(0.4315)
45 7 tensor(0.3538)
45 8 tensor(0.3558)
45 9 tensor(0.2879)
45 10 tensor(0.3111)
45 11 tensor(0.3565)
45 12 tensor(0.3427)
45 13 tensor(0.4009)
45 14 tensor(0.2528)
45 15 tensor(0.4516)
45 16 tensor(0.3062)
45 17 tensor(0.3937)
46 0 tensor(0.2948)
46 1 tensor(0.1757)
46 2 tensor(0.3255)
46 3 tensor(0.3479)
46 4 tensor(0.3408)
46 5 tensor(0.2455)
46 6 tensor(0.3814)
46 7 tensor(0.3204)
46 8 tensor(0.3565)

46 9 tensor(0.3489)
46 10 tensor(0.4167)
46 11 tensor(0.3795)
46 12 tensor(0.3809)
46 13 tensor(0.4154)
46 14 tensor(0.4183)
46 15 tensor(0.1992)
46 16 tensor(0.2735)
46 17 tensor(0.4374)
47 0 tensor(0.2954)
47 1 tensor(0.1901)
47 2 tensor(0.3018)
47 3 tensor(0.4052)
47 4 tensor(0.2971)
47 5 tensor(0.2355)
47 6 tensor(0.1927)
47 7 tensor(0.3414)
47 8 tensor(0.3211)
47 9 tensor(0.4081)
47 10 tensor(0.2908)
47 11 tensor(0.4794)
47 12 tensor(0.3694)
47 13 tensor(0.3483)
47 14 tensor(0.3372)
47 15 tensor(0.4693)
47 16 tensor(0.4343)
47 17 tensor(0.3227)
48 0 tensor(0.2158)
48 1 tensor(0.2424)
48 2 tensor(0.3885)
48 3 tensor(0.2708)
48 4 tensor(0.2388)
48 5 tensor(0.2752)
48 6 tensor(0.4364)
48 7 tensor(0.2689)
48 8 tensor(0.1628)
48 9 tensor(0.3042)
48 10 tensor(0.4489)
48 11 tensor(0.4194)
48 12 tensor(0.4477)
48 13 tensor(0.4916)
48 14 tensor(0.3891)
48 15 tensor(0.3966)
48 16 tensor(0.4358)
48 17 tensor(0.4095)
49 0 tensor(0.3769)
49 1 tensor(0.2999)
49 2 tensor(0.2862)
49 3 tensor(0.3712)
49 4 tensor(0.3523)
49 5 tensor(0.3868)
49 6 tensor(0.3139)
49 7 tensor(0.3388)
49 8 tensor(0.4093)
49 9 tensor(0.3084)
49 10 tensor(0.4931)
49 11 tensor(0.3819)
49 12 tensor(0.2761)
49 13 tensor(0.2842)
49 14 tensor(0.3318)
49 15 tensor(0.3599)
49 16 tensor(0.3060)
49 17 tensor(0.2506)
50 0 tensor(0.3979)
50 1 tensor(0.3471)
50 2 tensor(0.2559)
50 3 tensor(0.1855)
50 4 tensor(0.5909)
50 5 tensor(0.4110)
50 6 tensor(0.3468)
50 7 tensor(0.3215)
50 8 tensor(0.3130)
50 9 tensor(0.3390)
50 10 tensor(0.3346)
50 11 tensor(0.2319)
50 12 tensor(0.3087)
50 13 tensor(0.3250)
50 14 tensor(0.4904)
50 15 tensor(0.2847)
50 16 tensor(0.2591)
50 17 tensor(0.3382)
51 0 tensor(0.3289)
51 1 tensor(0.2990)
51 2 tensor(0.3541)
51 3 tensor(0.2642)
51 4 tensor(0.2818)
51 5 tensor(0.4598)
51 6 tensor(0.4105)
51 7 tensor(0.3560)
51 8 tensor(0.3491)
51 9 tensor(0.2771)
51 10 tensor(0.3524)
51 11 tensor(0.3416)
51 12 tensor(0.3831)
51 13 tensor(0.2698)
51 14 tensor(0.3232)
51 15 tensor(0.2849)
51 16 tensor(0.4142)
51 17 tensor(0.3409)
52 0 tensor(0.3625)
52 1 tensor(0.3987)
52 2 tensor(0.5517)
52 3 tensor(0.2348)
52 4 tensor(0.3159)
52 5 tensor(0.2552)
52 6 tensor(0.4467)
52 7 tensor(0.3132)
52 8 tensor(0.3318)
52 9 tensor(0.2815)
52 10 tensor(0.4304)
52 11 tensor(0.3165)
52 12 tensor(0.2951)
52 13 tensor(0.2307)
52 14 tensor(0.2263)
52 15 tensor(0.4384)
52 16 tensor(0.2202)
52 17 tensor(0.3219)
53 0 tensor(0.3560)
53 1 tensor(0.2594)
53 2 tensor(0.3867)
53 3 tensor(0.4250)
53 4 tensor(0.2130)
53 5 tensor(0.3725)
53 6 tensor(0.3278)
53 7 tensor(0.2752)
53 8 tensor(0.1973)
53 9 tensor(0.4358)
53 10 tensor(0.2490)
53 11 tensor(0.2917)
53 12 tensor(0.3324)
53 13 tensor(0.3642)
53 14 tensor(0.4322)
53 15 tensor(0.2648)
53 16 tensor(0.4591)
53 17 tensor(0.4341)
54 0 tensor(0.4087)
54 1 tensor(0.3790)
54 2 tensor(0.4231)
54 3 tensor(0.2453)
54 4 tensor(0.2891)
54 5 tensor(0.4738)
54 6 tensor(0.2831)
54 7 tensor(0.2917)
54 8 tensor(0.3563)
54 9 tensor(0.3494)
54 10 tensor(0.3518)
54 11 tensor(0.2691)
54 12 tensor(0.3476)
54 13 tensor(0.3511)
54 14 tensor(0.2610)
54 15 tensor(0.3420)
54 16 tensor(0.4565)
54 17 tensor(0.2113)
55 0 tensor(0.4301)
55 1 tensor(0.2862)
55 2 tensor(0.2848)
55 3 tensor(0.3276)
55 4 tensor(0.1748)
55 5 tensor(0.2988)
55 6 tensor(0.3380)
55 7 tensor(0.4138)
55 8 tensor(0.3790)
55 9 tensor(0.2689)
55 10 tensor(0.3328)
55 11 tensor(0.2995)
55 12 tensor(0.4005)
55 13 tensor(0.2871)
55 14 tensor(0.2044)
55 15 tensor(0.4365)
55 16 tensor(0.3359)
55 17 tensor(0.4382)
56 0 tensor(0.2481)
56 1 tensor(0.1956)
56 2 tensor(0.3863)
56 3 tensor(0.3063)
56 4 tensor(0.3380)
56 5 tensor(0.3682)
56 6 tensor(0.3211)
56 7 tensor(0.3374)
56 8 tensor(0.3176)
56 9 tensor(0.3519)
56 10 tensor(0.3326)
56 11 tensor(0.4360)
56 12 tensor(0.2852)
56 13 tensor(0.2638)
56 14 tensor(0.3683)
56 15 tensor(0.3977)
56 16 tensor(0.3669)
56 17 tensor(0.4046)
57 0 tensor(0.2903)
57 1 tensor(0.2228)
57 2 tensor(0.3147)
57 3 tensor(0.4595)
57 4 tensor(0.3731)
57 5 tensor(0.2315)
57 6 tensor(0.3520)
57 7 tensor(0.2602)
57 8 tensor(0.2907)
57 9 tensor(0.4006)
57 10 tensor(0.2625)
57 11 tensor(0.2575)
57 12 tensor(0.3292)
57 13 tensor(0.5500)
57 14 tensor(0.2789)
57 15 tensor(0.3838)
57 16 tensor(0.3592)
57 17 tensor(0.3896)
58 0 tensor(0.3770)
58 1 tensor(0.3334)
58 2 tensor(0.4078)
58 3 tensor(0.2728)
58 4 tensor(0.3528)
58 5 tensor(0.4570)
58 6 tensor(0.2802)
58 7 tensor(0.3241)
58 8 tensor(0.2511)
58 9 tensor(0.2632)
58 10 tensor(0.2493)
58 11 tensor(0.3488)
58 12 tensor(0.3450)
58 13 tensor(0.4253)
58 14 tensor(0.2991)
58 15 tensor(0.3493)
58 16 tensor(0.3310)
58 17 tensor(0.3729)
59 0 tensor(0.2763)
59 1 tensor(0.4572)
59 2 tensor(0.2381)
59 3 tensor(0.3730)
59 4 tensor(0.3746)
59 5 tensor(0.2364)
59 6 tensor(0.3481)
59 7 tensor(0.3176)
59 8 tensor(0.3425)
59 9 tensor(0.3787)
59 10 tensor(0.3862)
59 11 tensor(0.2787)
59 12 tensor(0.3705)
59 13 tensor(0.3459)
59 14 tensor(0.2856)
59 15 tensor(0.3216)
59 16 tensor(0.3625)
59 17 tensor(0.3523)
60 0 tensor(0.4464)
60 1 tensor(0.3654)
60 2 tensor(0.3136)
60 3 tensor(0.2426)
60 4 tensor(0.2549)
60 5 tensor(0.3870)
60 6 tensor(0.3307)
60 7 tensor(0.2927)
60 8 tensor(0.3008)
60 9 tensor(0.2789)
60 10 tensor(0.3470)
60 11 tensor(0.3383)
60 12 tensor(0.3939)
60 13 tensor(0.3842)
60 14 tensor(0.4115)
60 15 tensor(0.2446)
60 16 tensor(0.2673)
60 17 tensor(0.3189)
61 0 tensor(0.1379)
61 1 tensor(0.3350)
61 2 tensor(0.2818)
61 3 tensor(0.3497)
61 4 tensor(0.2980)
61 5 tensor(0.3368)
61 6 tensor(0.3495)
61 7 tensor(0.4090)
61 8 tensor(0.2676)
61 9 tensor(0.4298)
61 10 tensor(0.2850)
61 11 tensor(0.4477)
61 12 tensor(0.4277)
61 13 tensor(0.3351)
61 14 tensor(0.2685)
61 15 tensor(0.4857)
61 16 tensor(0.2702)
61 17 tensor(0.3105)
62 0 tensor(0.3889)
62 1 tensor(0.3680)
62 2 tensor(0.3732)
62 3 tensor(0.4294)
62 4 tensor(0.2565)
62 5 tensor(0.3642)
62 6 tensor(0.2389)
62 7 tensor(0.2049)
62 8 tensor(0.3833)
62 9 tensor(0.2290)
62 10 tensor(0.3581)
62 11 tensor(0.2934)
62 12 tensor(0.3037)
62 13 tensor(0.3905)
62 14 tensor(0.2612)
62 15 tensor(0.5873)
62 16 tensor(0.3981)
62 17 tensor(0.1870)
63 0 tensor(0.3324)
63 1 tensor(0.3894)
63 2 tensor(0.3384)
63 3 tensor(0.2457)
63 4 tensor(0.3191)
63 5 tensor(0.5110)
63 6 tensor(0.2503)
63 7 tensor(0.2702)
63 8 tensor(0.3411)
63 9 tensor(0.3416)
63 10 tensor(0.3286)
63 11 tensor(0.3839)
63 12 tensor(0.3569)
63 13 tensor(0.3861)
63 14 tensor(0.2868)
63 15 tensor(0.2494)
63 16 tensor(0.3688)
63 17 tensor(0.2844)
64 0 tensor(0.2975)
64 1 tensor(0.4018)
64 2 tensor(0.2657)
64 3 tensor(0.4097)
64 4 tensor(0.3254)
64 5 tensor(0.3600)
64 6 tensor(0.3340)
64 7 tensor(0.3471)
64 8 tensor(0.1825)
64 9 tensor(0.3329)
64 10 tensor(0.2988)
64 11 tensor(0.5260)
64 12 tensor(0.3482)
64 13 tensor(0.3019)
64 14 tensor(0.3418)
64 15 tensor(0.3532)
64 16 tensor(0.2867)
64 17 tensor(0.3336)
65 0 tensor(0.4943)
65 1 tensor(0.3524)
65 2 tensor(0.2963)
65 3 tensor(0.2785)
65 4 tensor(0.4530)
65 5 tensor(0.2801)
65 6 tensor(0.2655)
65 7 tensor(0.3158)
65 8 tensor(0.3124)
65 9 tensor(0.2438)
65 10 tensor(0.2953)
65 11 tensor(0.2744)
65 12 tensor(0.3457)
65 13 tensor(0.2848)
65 14 tensor(0.3879)
65 15 tensor(0.3614)
65 16 tensor(0.2989)
65 17 tensor(0.3264)
66 0 tensor(0.3087)
66 1 tensor(0.3688)
66 2 tensor(0.3570)
66 3 tensor(0.3145)
66 4 tensor(0.3138)
66 5 tensor(0.2799)
66 6 tensor(0.3357)
66 7 tensor(0.3886)
66 8 tensor(0.2572)
66 9 tensor(0.3045)
66 10 tensor(0.3541)
66 11 tensor(0.3458)
66 12 tensor(0.4328)
66 13 tensor(0.2826)
66 14 tensor(0.3349)
66 15 tensor(0.4007)
66 16 tensor(0.3775)
66 17 tensor(0.2451)
67 0 tensor(0.1967)
67 1 tensor(0.3714)
67 2 tensor(0.3194)
67 3 tensor(0.3590)
67 4 tensor(0.3037)
67 5 tensor(0.4523)
67 6 tensor(0.2976)
67 7 tensor(0.3868)
67 8 tensor(0.2917)
67 9 tensor(0.3948)
67 10 tensor(0.3760)
67 11 tensor(0.2979)
67 12 tensor(0.3025)
67 13 tensor(0.3772)
67 14 tensor(0.3756)
67 15 tensor(0.2601)
67 16 tensor(0.2481)
67 17 tensor(0.3403)
68 0 tensor(0.3031)
68 1 tensor(0.3771)
68 2 tensor(0.2833)
68 3 tensor(0.2622)
68 4 tensor(0.3652)
68 5 tensor(0.3227)
68 6 tensor(0.2101)
68 7 tensor(0.3381)
68 8 tensor(0.4220)
68 9 tensor(0.2837)
68 10 tensor(0.4413)
68 11 tensor(0.3906)
68 12 tensor(0.3558)
68 13 tensor(0.2986)
68 14 tensor(0.2737)
68 15 tensor(0.3641)
68 16 tensor(0.3414)
68 17 tensor(0.2345)
69 0 tensor(0.3691)
69 1 tensor(0.3049)
69 2 tensor(0.3885)
69 3 tensor(0.3132)
69 4 tensor(0.2925)
69 5 tensor(0.2452)
69 6 tensor(0.3482)
69 7 tensor(0.3328)
69 8 tensor(0.2876)
69 9 tensor(0.4553)
69 10 tensor(0.2977)
69 11 tensor(0.2655)
69 12 tensor(0.2998)
69 13 tensor(0.3694)
69 14 tensor(0.3594)
69 15 tensor(0.3910)
69 16 tensor(0.2675)
69 17 tensor(0.3707)
70 0 tensor(0.3092)
70 1 tensor(0.3459)
70 2 tensor(0.2257)
70 3 tensor(0.3156)
70 4 tensor(0.2702)
70 5 tensor(0.2566)
70 6 tensor(0.4397)
70 7 tensor(0.4182)
70 8 tensor(0.2661)
70 9 tensor(0.3944)
70 10 tensor(0.4593)
70 11 tensor(0.2891)
70 12 tensor(0.2671)
70 13 tensor(0.3726)
70 14 tensor(0.3773)
70 15 tensor(0.3268)
70 16 tensor(0.3682)
70 17 tensor(0.2569)
71 0 tensor(0.3944)
71 1 tensor(0.3108)
71 2 tensor(0.3900)
71 3 tensor(0.2846)
71 4 tensor(0.4616)
71 5 tensor(0.2997)
71 6 tensor(0.2775)
71 7 tensor(0.3330)
71 8 tensor(0.3144)
71 9 tensor(0.4941)
71 10 tensor(0.1621)

71 11 tensor(0.2477)
71 12 tensor(0.4882)
71 13 tensor(0.3301)
71 14 tensor(0.3882)
71 15 tensor(0.2105)
71 16 tensor(0.2450)
71 17 tensor(0.3120)
72 0 tensor(0.2713)
72 1 tensor(0.2708)
72 2 tensor(0.2107)
72 3 tensor(0.2861)
72 4 tensor(0.5584)
72 5 tensor(0.4627)
72 6 tensor(0.5591)
72 7 tensor(0.1805)
72 8 tensor(0.2881)
72 9 tensor(0.3239)
72 10 tensor(0.3159)
72 11 tensor(0.3832)
72 12 tensor(0.3361)
72 13 tensor(0.3523)
72 14 tensor(0.3217)
72 15 tensor(0.2384)
72 16 tensor(0.4248)
72 17 tensor(0.2707)
73 0 tensor(0.4794)
73 1 tensor(0.2216)
73 2 tensor(0.3083)
73 3 tensor(0.3271)
73 4 tensor(0.2754)
73 5 tensor(0.3977)
73 6 tensor(0.3102)
73 7 tensor(0.3515)
73 8 tensor(0.3118)
73 9 tensor(0.2560)
73 10 tensor(0.3875)
73 11 tensor(0.3070)
73 12 tensor(0.3307)
73 13 tensor(0.2688)
73 14 tensor(0.3664)
73 15 tensor(0.2388)
73 16 tensor(0.3399)
73 17 tensor(0.4096)
74 0 tensor(0.3131)
74 1 tensor(0.4153)
74 2 tensor(0.2644)
74 3 tensor(0.2349)
74 4 tensor(0.4237)
74 5 tensor(0.2503)
74 6 tensor(0.3587)
74 7 tensor(0.4605)
74 8 tensor(0.3333)
74 9 tensor(0.3578)
74 10 tensor(0.4263)
74 11 tensor(0.3113)
74 12 tensor(0.4721)
74 13 tensor(0.3550)
74 14 tensor(0.2633)
74 15 tensor(0.2005)
74 16 tensor(0.2631)
74 17 tensor(0.1908)
75 0 tensor(0.3785)
75 1 tensor(0.2872)
75 2 tensor(0.3357)
75 3 tensor(0.2879)
75 4 tensor(0.3263)
75 5 tensor(0.3821)
75 6 tensor(0.3873)
75 7 tensor(0.3288)
75 8 tensor(0.4532)
75 9 tensor(0.2748)
75 10 tensor(0.2830)
75 11 tensor(0.2584)
75 12 tensor(0.3634)
75 13 tensor(0.2820)
75 14 tensor(0.3542)
75 15 tensor(0.3507)
75 16 tensor(0.4354)
75 17 tensor(0.2807)
76 0 tensor(0.3538)
76 1 tensor(0.2913)
76 2 tensor(0.3433)
76 3 tensor(0.3494)
76 4 tensor(0.3225)
76 5 tensor(0.2426)
76 6 tensor(0.2665)
76 7 tensor(0.3578)
76 8 tensor(0.4876)
76 9 tensor(0.2599)
76 10 tensor(0.3321)
76 11 tensor(0.3336)
76 12 tensor(0.3362)
76 13 tensor(0.3500)
76 14 tensor(0.3397)
76 15 tensor(0.4055)
76 16 tensor(0.3110)
76 17 tensor(0.2528)
77 0 tensor(0.4045)
77 1 tensor(0.2954)
77 2 tensor(0.2274)
77 3 tensor(0.3922)
77 4 tensor(0.2941)
77 5 tensor(0.3107)
77 6 tensor(0.3082)
77 7 tensor(0.3685)
77 8 tensor(0.2862)
77 9 tensor(0.3935)
77 10 tensor(0.3265)
77 11 tensor(0.3778)
77 12 tensor(0.4278)
77 13 tensor(0.2143)
77 14 tensor(0.4340)
77 15 tensor(0.3083)
77 16 tensor(0.2449)
77 17 tensor(0.2909)
78 0 tensor(0.1832)
78 1 tensor(0.2109)
78 2 tensor(0.2606)
78 3 tensor(0.3519)
78 4 tensor(0.2302)
78 5 tensor(0.4961)
78 6 tensor(0.3264)
78 7 tensor(0.3127)
78 8 tensor(0.2796)
78 9 tensor(0.4867)
78 10 tensor(0.4472)
78 11 tensor(0.2542)
78 12 tensor(0.3772)
78 13 tensor(0.3735)
78 14 tensor(0.3566)
78 15 tensor(0.4292)
78 16 tensor(0.2883)
78 17 tensor(0.1946)
79 0 tensor(0.3646)
79 1 tensor(0.2773)
79 2 tensor(0.4071)
79 3 tensor(0.3944)
79 4 tensor(0.2940)
79 5 tensor(0.3601)
79 6 tensor(0.2635)
79 7 tensor(0.3324)
79 8 tensor(0.2648)
79 9 tensor(0.3188)
79 10 tensor(0.2059)
79 11 tensor(0.3365)
79 12 tensor(0.3394)
79 13 tensor(0.3995)
79 14 tensor(0.3632)
79 15 tensor(0.3864)
79 16 tensor(0.3751)
79 17 tensor(0.1908)
80 0 tensor(0.3734)
80 1 tensor(0.2710)
80 2 tensor(0.4028)
80 3 tensor(0.4257)
80 4 tensor(0.2999)
80 5 tensor(0.3738)
80 6 tensor(0.2752)
80 7 tensor(0.2912)
80 8 tensor(0.3206)
80 9 tensor(0.3501)
80 10 tensor(0.4385)
80 11 tensor(0.2967)
80 12 tensor(0.2645)
80 13 tensor(0.3005)
80 14 tensor(0.2115)
80 15 tensor(0.3785)
80 16 tensor(0.3239)
80 17 tensor(0.2725)
81 0 tensor(0.2869)
81 1 tensor(0.4069)
81 2 tensor(0.3858)
81 3 tensor(0.2103)
81 4 tensor(0.3333)
81 5 tensor(0.3018)
81 6 tensor(0.3666)
81 7 tensor(0.3779)
81 8 tensor(0.1731)
81 9 tensor(0.2748)
81 10 tensor(0.3566)
81 11 tensor(0.3148)
81 12 tensor(0.3414)
81 13 tensor(0.2763)
81 14 tensor(0.4124)
81 15 tensor(0.3925)
81 16 tensor(0.4321)
81 17 tensor(0.2706)
82 0 tensor(0.3144)
82 1 tensor(0.3396)
82 2 tensor(0.2085)
82 3 tensor(0.4228)
82 4 tensor(0.2170)
82 5 tensor(0.3407)
82 6 tensor(0.3059)
82 7 tensor(0.4156)
82 8 tensor(0.2599)
82 9 tensor(0.2474)
82 10 tensor(0.4080)
82 11 tensor(0.2417)
82 12 tensor(0.3134)
82 13 tensor(0.3348)
82 14 tensor(0.5054)
82 15 tensor(0.4452)
82 16 tensor(0.3051)
82 17 tensor(0.3739)
83 0 tensor(0.3467)
83 1 tensor(0.2593)
83 2 tensor(0.2511)
83 3 tensor(0.4749)
83 4 tensor(0.2355)
83 5 tensor(0.3845)
83 6 tensor(0.3293)
83 7 tensor(0.3535)
83 8 tensor(0.3015)
83 9 tensor(0.4512)
83 10 tensor(0.2386)
83 11 tensor(0.2700)
83 12 tensor(0.2867)
83 13 tensor(0.4102)
83 14 tensor(0.3104)
83 15 tensor(0.2889)
83 16 tensor(0.4181)
83 17 tensor(0.3291)
84 0 tensor(0.3112)
84 1 tensor(0.2391)
84 2 tensor(0.2541)
84 3 tensor(0.2996)
84 4 tensor(0.4238)
84 5 tensor(0.2171)
84 6 tensor(0.2691)
84 7 tensor(0.3735)
84 8 tensor(0.4836)
84 9 tensor(0.3213)
84 10 tensor(0.4748)
84 11 tensor(0.4420)
84 12 tensor(0.2899)
84 13 tensor(0.3233)
84 14 tensor(0.3139)
84 15 tensor(0.3645)
84 16 tensor(0.3905)
84 17 tensor(0.1928)
85 0 tensor(0.3469)
85 1 tensor(0.2209)
85 2 tensor(0.3102)
85 3 tensor(0.3977)
85 4 tensor(0.2490)
85 5 tensor(0.3848)
85 6 tensor(0.3466)
85 7 tensor(0.3453)
85 8 tensor(0.3157)
85 9 tensor(0.4286)
85 10 tensor(0.3652)
85 11 tensor(0.3451)
85 12 tensor(0.2066)
85 13 tensor(0.3790)
85 14 tensor(0.2991)
85 15 tensor(0.2246)
85 16 tensor(0.3388)
85 17 tensor(0.3843)
86 0 tensor(0.6270)
86 1 tensor(0.4103)
86 2 tensor(0.3370)
86 3 tensor(0.2082)
86 4 tensor(0.2390)
86 5 tensor(0.3420)
86 6 tensor(0.4375)
86 7 tensor(0.2080)
86 8 tensor(0.3061)
86 9 tensor(0.2866)
86 10 tensor(0.3124)
86 11 tensor(0.3490)
86 12 tensor(0.4569)
86 13 tensor(0.2448)
86 14 tensor(0.2589)
86 15 tensor(0.3191)
86 16 tensor(0.3431)
86 17 tensor(0.1821)
87 0 tensor(0.3113)
87 1 tensor(0.4358)
87 2 tensor(0.2327)
87 3 tensor(0.3271)
87 4 tensor(0.3146)
87 5 tensor(0.1262)
87 6 tensor(0.3649)
87 7 tensor(0.2733)
87 8 tensor(0.2239)
87 9 tensor(0.3006)
87 10 tensor(0.4009)
87 11 tensor(0.4122)
87 12 tensor(0.3277)
87 13 tensor(0.3443)
87 14 tensor(0.3261)
87 15 tensor(0.3986)
87 16 tensor(0.4054)
87 17 tensor(0.4271)
88 0 tensor(0.4119)
88 1 tensor(0.3742)
88 2 tensor(0.3023)
88 3 tensor(0.3581)
88 4 tensor(0.2941)
88 5 tensor(0.3673)
88 6 tensor(0.3171)
88 7 tensor(0.2490)
88 8 tensor(0.4442)
88 9 tensor(0.3561)
88 10 tensor(0.3983)
88 11 tensor(0.2585)
88 12 tensor(0.2527)
88 13 tensor(0.2652)
88 14 tensor(0.3648)
88 15 tensor(0.3250)
88 16 tensor(0.3119)
88 17 tensor(0.2723)
89 0 tensor(0.2059)
89 1 tensor(0.3371)
89 2 tensor(0.4099)
89 3 tensor(0.4536)
89 4 tensor(0.2932)
89 5 tensor(0.2981)
89 6 tensor(0.3670)
89 7 tensor(0.1325)
89 8 tensor(0.1772)
89 9 tensor(0.2342)
89 10 tensor(0.2699)
89 11 tensor(0.3524)
89 12 tensor(0.4144)
89 13 tensor(0.3618)
89 14 tensor(0.4657)
89 15 tensor(0.3707)
89 16 tensor(0.3959)
89 17 tensor(0.3385)
90 0 tensor(0.2821)
90 1 tensor(0.3354)
90 2 tensor(0.3766)
90 3 tensor(0.3066)
90 4 tensor(0.3047)
90 5 tensor(0.2929)
90 6 tensor(0.3032)
90 7 tensor(0.2536)
90 8 tensor(0.2429)
90 9 tensor(0.3863)
90 10 tensor(0.3124)
90 11 tensor(0.2916)
90 12 tensor(0.3939)
90 13 tensor(0.4249)
90 14 tensor(0.3312)
90 15 tensor(0.6121)
90 16 tensor(0.2840)
90 17 tensor(0.2655)
91 0 tensor(0.2210)
91 1 tensor(0.3784)
91 2 tensor(0.3887)
91 3 tensor(0.2473)
91 4 tensor(0.3467)
91 5 tensor(0.3908)
91 6 tensor(0.2503)
91 7 tensor(0.2891)
91 8 tensor(0.2999)
91 9 tensor(0.3263)
91 10 tensor(0.4039)
91 11 tensor(0.2280)
91 12 tensor(0.4045)
91 13 tensor(0.3660)
91 14 tensor(0.2815)
91 15 tensor(0.2718)
91 16 tensor(0.2989)
91 17 tensor(0.4875)
92 0 tensor(0.4005)
92 1 tensor(0.2044)
92 2 tensor(0.4101)
92 3 tensor(0.3001)
92 4 tensor(0.2115)
92 5 tensor(0.5453)
92 6 tensor(0.3632)
92 7 tensor(0.3865)
92 8 tensor(0.2063)
92 9 tensor(0.2860)
92 10 tensor(0.3176)
92 11 tensor(0.3353)
92 12 tensor(0.3556)
92 13 tensor(0.2609)
92 14 tensor(0.2427)
92 15 tensor(0.4675)
92 16 tensor(0.2608)
92 17 tensor(0.3432)
93 0 tensor(0.3332)
93 1 tensor(0.3604)
93 2 tensor(0.2946)
93 3 tensor(0.3439)
93 4 tensor(0.2330)
93 5 tensor(0.2740)
93 6 tensor(0.4748)
93 7 tensor(0.2937)
93 8 tensor(0.3533)
93 9 tensor(0.4009)
93 10 tensor(0.3023)
93 11 tensor(0.3529)
93 12 tensor(0.3185)
93 13 tensor(0.3062)
93 14 tensor(0.2902)
93 15 tensor(0.3278)
93 16 tensor(0.2616)
93 17 tensor(0.3301)
94 0 tensor(0.2305)
94 1 tensor(0.3877)
94 2 tensor(0.5175)
94 3 tensor(0.2820)
94 4 tensor(0.4144)
94 5 tensor(0.2783)
94 6 tensor(0.3035)
94 7 tensor(0.2103)
94 8 tensor(0.3383)
94 9 tensor(0.4149)
94 10 tensor(0.1524)
94 11 tensor(0.3882)
94 12 tensor(0.3413)
94 13 tensor(0.3251)
94 14 tensor(0.3152)
94 15 tensor(0.3177)
94 16 tensor(0.3240)
94 17 tensor(0.2661)
95 0 tensor(0.2490)
95 1 tensor(0.2632)
95 2 tensor(0.1619)
95 3 tensor(0.3904)
95 4 tensor(0.3579)
95 5 tensor(0.3021)
95 6 tensor(0.5193)
95 7 tensor(0.4197)
95 8 tensor(0.4200)
95 9 tensor(0.2842)
95 10 tensor(0.4044)
95 11 tensor(0.3756)
95 12 tensor(0.2369)
95 13 tensor(0.3675)

95 14 tensor(0.2896)
95 15 tensor(0.2700)
95 16 tensor(0.3334)
95 17 tensor(0.2818)
96 0 tensor(0.3009)
96 1 tensor(0.2800)
96 2 tensor(0.3648)
96 3 tensor(0.3512)
96 4 tensor(0.3419)
96 5 tensor(0.3299)
96 6 tensor(0.3242)
96 7 tensor(0.3671)
96 8 tensor(0.3414)
96 9 tensor(0.4037)
96 10 tensor(0.3427)
96 11 tensor(0.3856)
96 12 tensor(0.3349)
96 13 tensor(0.2745)
96 14 tensor(0.2872)
96 15 tensor(0.2860)
96 16 tensor(0.1640)
96 17 tensor(0.3464)
97 0 tensor(0.3598)
97 1 tensor(0.2437)
97 2 tensor(0.2643)
97 3 tensor(0.2413)
97 4 tensor(0.3115)
97 5 tensor(0.3010)
97 6 tensor(0.4610)
97 7 tensor(0.4070)
97 8 tensor(0.3306)
97 9 tensor(0.3411)
97 10 tensor(0.3987)
97 11 tensor(0.3172)
97 12 tensor(0.2965)
97 13 tensor(0.3408)
97 14 tensor(0.2742)
97 15 tensor(0.4137)
97 16 tensor(0.3172)
97 17 tensor(0.3281)
98 0 tensor(0.2759)
98 1 tensor(0.4705)
98 2 tensor(0.3197)
98 3 tensor(0.3170)
98 4 tensor(0.4228)
98 5 tensor(0.3456)
98 6 tensor(0.4004)
98 7 tensor(0.2054)
98 8 tensor(0.1714)
98 9 tensor(0.3391)
98 10 tensor(0.5284)
98 11 tensor(0.2917)
98 12 tensor(0.2000)
98 13 tensor(0.3241)
98 14 tensor(0.2881)
98 15 tensor(0.3169)
98 16 tensor(0.3109)
98 17 tensor(0.4041)
99 0 tensor(0.3490)
99 1 tensor(0.3089)
99 2 tensor(0.2264)
99 3 tensor(0.2275)
99 4 tensor(0.3518)
99 5 tensor(0.2857)
99 6 tensor(0.3527)
99 7 tensor(0.4546)
99 8 tensor(0.3381)
99 9 tensor(0.4555)
99 10 tensor(0.1975)
99 11 tensor(0.3010)
99 12 tensor(0.4331)
99 13 tensor(0.3628)
99 14 tensor(0.4451)
99 15 tensor(0.2638)
99 16 tensor(0.2164)
99 17 tensor(0.2582)

In [ ]:
#this will be last mini batch
print (y_pred.shape)

In [904]:
# Train and Test Set Predictions
print ("train set accuracy = " + str (accuracy(dataset.pt_x_data, dataset.y_data)))
#print ("test set accuracy = " + str (accuracy(dataset.pt_x_data_test, dataset.y_data_test)))

train set accuracy = 0.8653198653198653

In [ ]:
print (dataset.y_data_test)

In [905]:
#Run test set through
model.eval()
test_pred = model(dataset.pt_x_data_test)
print (test_pred.shape)
print (type(test_pred))

#Add prediction col to test panda
#to_np = np.round(test_pred.detach().numpy())


#to_np = (test_pred.detach().numpy())
to_np = np.where((test_pred.detach().numpy())>0.5,1.0,0)


to_np = to_np.astype(int)
x_test['Survived'] = to_np


#Export to csv for submission
x_test.to_csv('mix44a50_PClass13_parch_sib_miss_MRS_MR_MASter_sex_cabCU_port-270mod-dropout.csv', columns = ['PassengerId','Survived'], index = False)

torch.Size([418, 1])
<class 'torch.Tensor'>

In [531]:
print (test_pred[73])

tensor([0.5141], grad_fn=<SelectBackward>)

In [71]:
def accuracy(X, Y):
    """
    This function is used to measure accuracy of the model.
    
    Arguments:
    X -- data set of examples you would like to label
    Y -- labels
    
    Returns:
    p -- predictions for the given dataset X
    """
    
    prediction = model(X)
    #print (prediction)
    np_prediction = np.round(prediction.detach().numpy())
    predictions_correct = np.equal(np_prediction, Y)
    #print (predictions_correct)
    p = np.mean(predictions_correct)
        
    return p

In [ ]:
......................Extra Stuff...........
convertfunc = lambda x: float(x.strip("%"))/100
test = np.genfromtxt('./data/titanic/train.csv', delimiter=',', skip_header=1, usecols = (0,1,2,4))

#aai = a.iloc[:, [0,3]].values
train_x = a.loc[:, ['PassengerId', 'Pclass', 'Sex']].values
train_y = a.loc[:, ['Survived']].values

In [ ]:
print ("pt_x_data: " + str (dataset.pt_x_data.shape))
print ("pt_y_data: " + str (dataset.pt_y_data.shape))
print ("y_data: " + str (dataset.y_data.shape))

In [ ]:
print (type (train_x))
print (type (train_y))

print (train_x)
print (train_y)

In [ ]:
#Read in debug file
debug_vals = np.genfromtxt('./data/titanic/debug_justPID.csv', delimiter=',', dtype=np.float32, skip_header=1)

#convert to correct format
#debug_x_data = torch.from_numpy(np.array(xy_train.loc[:, ['PassengerId', 'Pclass', 'Sex']].values, dtype='float')).float()
#debug_y_data = np.array(xy_train.loc[:, ['Survived']].values, dtype='float')

debug_x_data = torch.from_numpy(debug_vals[:, 0:-1])
debug_y_data = np.array(debug_vals[:, [-1]])
print (debug_x_data)
print (debug_y_data)

print ("debug set accuracy = " + str (accuracy(debug_x_data,debug_y_data)))

In [ ]:
a = np.array([10,-1])
b = np.array([10,1])

In [ ]:
np.dot(a.T,b)