In [1]:
import torch
import numpy as np
from torch.autograd import Variable
from torch.utils.data import Dataset, DataLoader

import pandas as pd

In [594]:
import torch.nn.functional as F

In [1030]:
###  Load and Clean Data  ###

#Load as panda
xy_train = pd.read_csv('./data/titanic/train.csv')
x_test = pd.read_csv('./data/titanic/test.csv')
#xy_train = pd.read_csv('./data/titanic/debug_1s.csv')

#Scale Sex
xy_train['Sex'] = xy_train['Sex'].map({'male':1, 'female':0})
x_test['Sex'] = x_test['Sex'].map({'male':1, 'female':0})


#Pclass to one hot
pclass_dummies_tr = pd.get_dummies(xy_train['Pclass'], prefix='Pclass')
xy_train = pd.concat([xy_train, pclass_dummies_tr], axis=1)

pclass_dummies_t = pd.get_dummies(x_test['Pclass'], prefix='Pclass')
x_test = pd.concat([x_test, pclass_dummies_t], axis=1)

#Scale Fare
#xy_train.Fare = xy_train.Fare/100
#x_test.Fare = x_test.Fare/100



xy_train.sample(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Pclass_1,Pclass_2,Pclass_3
387,388,1,2,"Buss, Miss. Kate",0,36.0,0,0,27849,13.0000,NaN,S,0,1,0
448,449,1,3,"Baclini, Miss. Marie Catherine",0,5.0,2,1,2666,19.2583,NaN,C,0,0,1
452,453,0,1,"Foreman, Mr. Benjamin Laventall",1,30.0,0,0,113051,27.7500,C111,C,1,0,0

In [1031]:
#Prep Validation Set [should have done this a long time ago!!!!!]
temp_validation_set = pd.read_csv('./data/titanic/full_titanic3_validation.csv')
validation_set = pd.read_csv('./data/titanic/test.csv')


df = pd.DataFrame(columns=['survived'])

#for each ticket in validation_set
for iv, rv in validation_set.iterrows():
    vt = (rv[8])
    #print ('vt is: ' +str (vt))
    #print (temp_validation_set.iloc[1])
    vs = (temp_validation_set['survived'].loc[temp_validation_set['ticket'] == vt])
    #print (vs.values[0])
    df = df.append([{'survived':(vs.values[0]).astype(int)}], ignore_index=True)
    #print (type(vs.values[0]))
    
    
validation_set = pd.concat([validation_set, df], axis=1)

validation_set.describe()   
validation_set.sample(10)
validation_set.head(n=10)

,PassengerId,Pclass,Name,Sex,Survive,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,survived
0,892,3,"Kelly, Mr. James",male,NaN,34.5,0,0,330911,7.8292,NaN,Q,0
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,1.0,47.0,1,0,363272,7.0000,NaN,S,1
2,894,2,"Myles, Mr. Thomas Francis",male,NaN,62.0,0,0,240276,9.6875,NaN,Q,0
3,895,3,"Wirz, Mr. Albert",male,NaN,27.0,0,0,315154,8.6625,NaN,S,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,1.0,22.0,1,1,3101298,12.2875,NaN,S,1
5,897,3,"Svensson, Mr. Johan Cervin",male,NaN,14.0,0,0,7538,9.2250,NaN,S,1
6,898,3,"Connolly, Miss. Kate",female,0.0,30.0,0,0,330972,7.6292,NaN,Q,0
7,899,2,"Caldwell, Mr. Albert Francis",male,NaN,26.0,1,1,248738,29.0000,NaN,S,1
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,NaN,18.0,0,0,2657,7.2292,NaN,C,1
9,901,3,"Davies, Mr. John Samuel",male,NaN,21.0,2,0,A/4 48871,24.1500,NaN,S,0

In [950]:
print (validation_set.dtypes)
print (temp_validation_set.dtypes)

PassengerId      int64
Pclass           int64
Name            object
Sex             object
Survive        float64
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
pclass       float64
survived     float64
name          object
sex           object
age          float64
sibsp        float64
parch        float64
ticket        object
fare         float64
cabin         object
embarked      object
boat          object
body         float64
home.dest     object
dtype: object

In [1063]:
#age cleanup WIP
grouped_train = xy_train.groupby(['Sex','Pclass','Title'])
grouped_median_train = grouped_train.median()
grouped_median_train = grouped_median_train.reset_index()[['Sex', 'Pclass', 'Title', 'Age']]
grouped_median_train.head()

   Sex  Pclass    Title   Age
0    0       1     Miss  30.0
1    0       1      Mrs  40.0
2    0       1  Officer  49.0
3    0       1  Royalty  40.5
4    0       2     Miss  24.0

In [1064]:
#age cleanup part 2
def fill_age(row):
    condition = (
        (grouped_median_train['Sex'] == row['Sex']) & 
        (grouped_median_train['Title'] == row['Title']) & 
        (grouped_median_train['Pclass'] == row['Pclass'])
    ) 
    return grouped_median_train[condition]['Age'].values[0]

xy_train['Age'] = xy_train.apply(lambda row: fill_age(row) if np.isnan(row['Age']) else row['Age'], axis=1)
x_test['Age'] = x_test.apply(lambda row: fill_age(row) if np.isnan(row['Age']) else row['Age'], axis=1)

In [1065]:
#optional age cleanup part 3 (scale)
xy_train.Age = xy_train.Age/80
x_test.Age = x_test.Age/80

In [1033]:
Title_Dictionary = {
    "Capt": "Officer",
    "Col": "Officer",
    "Major": "Officer",
    "Jonkheer": "Royalty",
    "Don": "Royalty",
    "Sir" : "Royalty",
    "Dr": "Officer",
    "Rev": "Officer",
    "the Countess":"Royalty",
    "Mme": "Mrs",
    "Mlle": "Miss",
    "Ms": "Mrs",
    "Mr" : "Mr",
    "Mrs" : "Mrs",
    "Miss" : "Miss",
    "Master" : "Master",
    "Lady" : "Royalty"
}


# we extract the title from each name
xy_train['Title'] = xy_train['Name'].map(lambda name:name.split(',')[1].split('.')[0].strip())
x_test['Title'] = x_test['Name'].map(lambda name:name.split(',')[1].split('.')[0].strip())

# a map of more aggregated title
# we map each title
xy_train['Title'] = xy_train.Title.map(Title_Dictionary)
x_test['Title'] = x_test.Title.map(Title_Dictionary)

#convert to one hot
titles_dummies_tr = pd.get_dummies(xy_train['Title'], prefix='Title')
xy_train = pd.concat([xy_train, titles_dummies_tr], axis=1)

titles_dummies_t = pd.get_dummies(x_test['Title'], prefix='Title')
x_test = pd.concat([x_test, titles_dummies_t], axis=1)


xy_train.sample(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Pclass_1,Pclass_2,Pclass_3,Title,Title_Master,Title_Miss,Title_Mr,Title_Mrs,Title_Officer,Title_Royalty
46,47,0,3,"Lennon, Mr. Denis",1,NaN,1,0,370371,15.5000,...,0,0,1,Mr,0,0,1,0,0,0
96,97,0,1,"Goldschmidt, Mr. George B",1,71.00,0,0,PC 17754,34.6542,...,1,0,0,Mr,0,0,1,0,0,0
831,832,1,2,"Richards, Master. George Sibley",1,0.83,1,1,29106,18.7500,...,0,1,0,Master,1,0,0,0,0,0

In [1034]:
xy_train['FamilyS'] = xy_train['SibSp'] + xy_train['Parch'] + 1
x_test['FamilyS'] = x_test['SibSp'] + x_test['Parch'] + 1



# introducing a new feature : the size of families (including the passenger)
xy_train['FamilySize'] = xy_train['Parch'] + xy_train['SibSp'] + 1
   
# introducing other features based on the family size
xy_train['Singleton'] = xy_train['FamilySize'].map(lambda s: 1 if s == 1 else 0)
xy_train['SmallFamily'] = xy_train['FamilySize'].map(lambda s: 1 if 2 <= s <= 4 else 0)
xy_train['LargeFamily'] = xy_train['FamilySize'].map(lambda s: 1 if 5 <= s else 0)


# introducing a new feature : the size of families (including the passenger)
x_test['FamilySize'] = x_test['Parch'] + x_test['SibSp'] + 1
   
# introducing other features based on the family size
x_test['Singleton'] = x_test['FamilySize'].map(lambda s: 1 if s == 1 else 0)
x_test['SmallFamily'] = x_test['FamilySize'].map(lambda s: 1 if 2 <= s <= 4 else 0)
x_test['LargeFamily'] = x_test['FamilySize'].map(lambda s: 1 if 5 <= s else 0)

In [854]:
xy_train.sample(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_U,Embarked_C,Embarked_Q,Embarked_S,Pclass_fit,Fare_fit
255,256,1,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",0,0.3625,0,2,2650,15.2458,...,0,0,0,0,1,1,0,0,0.827377,-0.341452
637,638,0,2,"Collyer, Mr. Harvey",1,0.3875,1,1,C.A. 31921,26.2500,...,0,0,0,0,1,0,0,1,-0.369365,-0.119886
419,420,0,3,"Van Impe, Miss. Catharina",0,0.1250,0,2,345773,24.1500,...,0,0,0,0,1,0,0,1,0.827377,-0.162169

In [227]:
#process fare
xy_train.Fare.fillna(xy_train.Fare.mean(), inplace=True)
x_test.Fare.fillna(xy_train.Fare.mean(), inplace=True) # we use tran set data here

In [851]:
#extra fare processing
#xy_train.Fare = xy_train.Fare/513
#x_test.Fare = x_test.Fare/513

#put back
xy_train.Fare = xy_train.Fare*513
x_test.Fare = x_test.Fare*513

In [853]:
# test : scale fare
xy_train['Fare_fit'] = StandardScaler().fit_transform(xy_train['Fare'].values.reshape(-1, 1))
x_test['Fare_fit'] = StandardScaler().fit_transform(x_test['Fare'].values.reshape(-1, 1))

In [1069]:
#process cabin

# replacing missing cabins with U (for Uknown)
xy_train.Cabin.fillna('U', inplace=True)
x_test.Cabin.fillna('U', inplace=True)
    
# mapping each Cabin value with the cabin letter
xy_train['Cabin'] = xy_train['Cabin'].map(lambda c: c[0])
x_test['Cabin'] = x_test['Cabin'].map(lambda c: c[0])
    
# dummy encoding ...
cabin_dummies_tr = pd.get_dummies(xy_train['Cabin'], prefix='Cabin')    
xy_train = pd.concat([xy_train, cabin_dummies_tr], axis=1)

cabin_dummies_t = pd.get_dummies(x_test['Cabin'], prefix='Cabin')    
x_test = pd.concat([x_test, cabin_dummies_t], axis=1)

????????????????????????????????????????process cabin

# replacing missing cabins with U (for Uknown)
xy_train.Cabin.fillna('U', inplace=True)
x_test.Cabin.fillna('U', inplace=True)
    
# mapping each Cabin value with the cabin letter
xy_train['Cabin'] = xy_train['Cabin'].map(lambda c: c[0])
x_test['Cabin'] = x_test['Cabin'].map(lambda c: c[0])
    
# dummy encoding ...
cabin_dummies_tr = pd.get_dummies(xy_train['Cabin'], prefix='Cabin')    
xy_train = pd.concat([xy_train, cabin_dummies_tr], axis=1)

cabin_dummies_t = pd.get_dummies(x_test['Cabin'], prefix='Cabin')    
x_test = pd.concat([x_test, cabin_dummies_t], axis=1)

In [1070]:
# get the number of missing data points per column
missing_values_count = xy_train.isnull().sum()

# look at the # of missing points in the first ten columns
print (missing_values_count) #5 is age

# how many total missing values do we have?
total_cells = (xy_train.shape[0])
total_missing = missing_values_count[5]

# percent of data that is missing
#(total_missing/total_cells) * 100

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin            0
Embarked         0
Pclass_1         0
Pclass_2         0
Pclass_3         0
Title            0
Title_Master     0
Title_Miss       0
Title_Mr         0
Title_Mrs        0
Title_Officer    0
Title_Royalty    0
FamilyS          0
FamilySize       0
Singleton        0
SmallFamily      0
LargeFamily      0
Embarked_C       0
Embarked_Q       0
Embarked_S       0
Cabin_A          0
Cabin_B          0
Cabin_C          0
Cabin_D          0
Cabin_E          0
Cabin_F          0
Cabin_G          0
Cabin_T          0
Cabin_U          0
dtype: int64

In [1035]:
#play with embarked
xy_train['Embarked'].fillna('S', inplace = True)
xy_train.isnull().sum().sort_values(ascending = False)

# dummy encoding ...
Embarked_tr = pd.get_dummies(xy_train['Embarked'], prefix='Embarked')    
xy_train = pd.concat([xy_train, Embarked_tr], axis=1)

Embarked_t = pd.get_dummies(x_test['Embarked'], prefix='Embarked')    
x_test = pd.concat([x_test, Embarked_t], axis=1)

In [822]:
from sklearn.preprocessing import StandardScaler

In [828]:
#test with pclass
xy_train['Pclass_fit'] = StandardScaler().fit_transform(xy_train['Pclass'].values.reshape(-1, 1))
x_test['Pclass_fit'] = StandardScaler().fit_transform(x_test['Pclass'].values.reshape(-1, 1))

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [1067]:
xy_train.describe()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Pclass_1,Pclass_2,...,Title_Officer,Title_Royalty,FamilyS,FamilySize,Singleton,SmallFamily,LargeFamily,Embarked_C,Embarked_Q,Embarked_S
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,...,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,0.647587,0.364228,0.523008,0.381594,32.204208,0.242424,0.206510,...,0.020202,0.005612,1.904602,1.904602,0.602694,0.327722,0.069585,0.188552,0.086420,0.725028
std,257.353842,0.486592,0.836071,0.477990,0.168690,1.102743,0.806057,49.693429,0.428790,0.405028,...,0.140770,0.074743,1.613459,1.613459,0.489615,0.469646,0.254589,0.391372,0.281141,0.446751
min,1.000000,0.000000,1.000000,0.000000,0.005250,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,0.000000,0.262500,0.000000,0.000000,7.910400,0.000000,0.000000,...,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,446.000000,0.000000,3.000000,1.000000,0.325000,0.000000,0.000000,14.454200,0.000000,0.000000,...,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,668.500000,1.000000,3.000000,1.000000,0.459375,1.000000,0.000000,31.000000,0.000000,0.000000,...,0.000000,0.000000,2.000000,2.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000
max,891.000000,1.000000,3.000000,1.000000,1.000000,8.000000,6.000000,512.329200,1.000000,1.000000,...,1.000000,1.000000,11.000000,11.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [1068]:
xy_train.sample(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Title_Officer,Title_Royalty,FamilyS,FamilySize,Singleton,SmallFamily,LargeFamily,Embarked_C,Embarked_Q,Embarked_S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",0,0.6875,0,0,248706,16.0000,...,0,0,1,1,1,0,0,0,0,1
729,730,0,3,"Ilmakangas, Miss. Pieta Sofia",0,0.3125,1,0,STON/O2. 3101271,7.9250,...,0,0,2,2,0,1,0,0,0,1
376,377,1,3,"Landergren, Miss. Aurora Adelia",0,0.2750,0,0,C 7077,7.2500,...,0,0,1,1,1,0,0,0,0,1
620,621,0,3,"Yasbeck, Mr. Antoni",1,0.3375,1,0,2659,14.4542,...,0,0,2,2,0,1,0,1,0,0
832,833,0,3,"Saad, Mr. Amin",1,0.3250,0,0,2671,7.2292,...,0,0,1,1,1,0,0,1,0,0
516,517,1,2,"Lemore, Mrs. (Amelia Milley)",0,0.4250,0,0,C.A. 34260,10.5000,...,0,0,1,1,1,0,0,0,0,1
246,247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",0,0.3125,0,0,347071,7.7750,...,0,0,1,1,1,0,0,0,0,1
416,417,1,2,"Drew, Mrs. James Vivian (Lulu Thorne Christian)",0,0.4250,1,1,28220,32.5000,...,0,0,3,3,0,1,0,0,0,1
277,278,0,2,"Parkes, Mr. Francis ""Frank""",1,0.3875,0,0,239853,0.0000,...,0,0,1,1,1,0,0,0,0,1
468,469,0,3,"Scanlan, Mr. James",1,0.3250,0,0,36209,7.7250,...,0,0,1,1,1,0,0,0,1,0

In [1071]:
class TitanicDataset(Dataset):
    """ Titanic dataset."""

    # Initialize your data, download, etc.
    def __init__(self):

        #Train data
        self.len = xy_train.shape[0]
        #self.pt_x_data = torch.from_numpy(np.array(xy_train.loc[:, ['Cabin_C','Cabin_D','Cabin_E','Cabin_F','Cabin_G','Age', 'Sex', 'Pclass_1', 'Pclass_2', 'Pclass_3', 'Parch', 'Title_Master', 'Title_Miss', 'Title_Mr', 'Title_Mrs','Pclass_3', 'Title_Officer', 'Title_Royalty', 'FamilySize', 'Singleton', 'SmallFamily', 'LargeFamily', 'Fare']].values, dtype='float')).float()
        self.pt_x_data = torch.from_numpy(np.array(xy_train.loc[:, ['Pclass_1', 'Pclass_3', 'Embarked_C', 'Embarked_Q', 'Embarked_S',  'Cabin_C','Cabin_U','Title_Mrs','Title_Miss','Title_Mr', 'Title_Master',  'Sex',   'Singleton', 'SmallFamily', 'LargeFamily']].values, dtype='float')).float()
        #self.pt_x_data = torch.from_numpy(np.array(xy_train.loc[:, ['1','2','3']].values, dtype='float')).float()
        self.y_data = np.array(xy_train.loc[:, ['Survived']].values, dtype='float')
        self.pt_y_data = torch.from_numpy(self.y_data).float()
        
        #Test data
        #self.pt_x_data_test = torch.from_numpy(np.array(x_test.loc[:, ['Age', 'Sex', 'Pclass_1', 'Pclass_2', 'Pclass_3','Parch', 'Title_Master','Title_Miss', 'Title_Mr', 'Title_Mrs', 'Title_Officer', 'Title_Royalty', 'FamilySize','Pclass_3', 'Singleton', 'SmallFamily', 'LargeFamily', 'Fare']].values, dtype='float')).float()
        self.pt_x_data_test = torch.from_numpy(np.array(x_test.loc[:, [ 'Pclass_1','Pclass_3', 'Embarked_C', 'Embarked_Q', 'Embarked_S',  'Cabin_C','Cabin_U','Title_Mrs','Title_Miss', 'Title_Mr', 'Title_Master',  'Sex',  'Singleton', 'SmallFamily', 'LargeFamily']].values, dtype='float')).float()
        self.y_data_test = np.array(validation_set.loc[:, ['survived']].values, dtype='float')
        self.pt_y_data_test = torch.from_numpy(self.y_data_test).float()
        
        
    def __getitem__(self, index):
        return self.pt_x_data[index], self.pt_y_data[index]

    def __len__(self):
        return self.len


dataset = TitanicDataset()

In [1072]:
train_loader = DataLoader(dataset=dataset,
                          batch_size=50,
                          shuffle=True,
                          num_workers=0)

In [1073]:
#type(train_loader)
print (dataset.pt_x_data.shape)
print (dataset.y_data.shape)
print (dataset.pt_y_data.shape)

#print (dataset.pt_x_data)
#print (dataset.y_data)

torch.Size([891, 15])
(891, 1)
torch.Size([891, 1])

In [1074]:
class Model(torch.nn.Module):

    def __init__(self):
        """
        In the constructor we instantiate two nn.Linear module
        """
        super(Model, self).__init__()
        self.L1 = torch.nn.Linear(15, 270)
        self.L2 = torch.nn.Linear(270, 1)
        #self.L3 = torch.nn.Linear(50, 1)

        self.sigmoid = torch.nn.Sigmoid()
        self.relu = torch.nn.ReLU()

    def forward(self, x):
        """
        In the forward function we accept a Variable of input data and we must return
        a Variable of output data. We can use Modules defined in the constructor as
        well as arbitrary operators on Variables.
        """
        #out1 = self.sigmoid(self.l1(x))
        #out2 = self.sigmoid(self.l2(out1))
        #y_pred = self.sigmoid(self.l3(out2))
        
        #out1 = self.relu(self.L1(x))
        
        out1 = self.L1(x)
        out1 = F.dropout(out1, p=0.1)
        out1 = self.relu(out1)
        
        #out2 = self.L2(out1)
        #out2 = F.dropout(out2, p=0.1)
        #out2 = self.relu(out2)
        
        y_pred = self.sigmoid(self.L2(out1))
        
        
                
        return y_pred

# our model
model = Model()

In [1075]:
# Construct our loss function and an Optimizer. The call to model.parameters()
# in the SGD constructor will contain the learnable parameters of the two
# nn.Linear modules which are members of the model.
criterion = torch.nn.BCELoss(size_average=True)
#optimizer = torch.optim.SGD(model.parameters(), lr=0.01)
optimizer = torch.optim.Adam(model.parameters(), lr=0.01)

C:\ProgramData\Anaconda3\lib\site-packages\torch\nn\functional.py:52: UserWarning: size_average and reduce args will be deprecated, please use reduction='elementwise_mean' instead.
  warnings.warn(warning.format(ret))

In [1076]:
# Training loop
model.train()

for epoch in range(100):
    for i, data in enumerate(train_loader, 0):
        # get the inputs
        inputs, labels = data

        # wrap them in Variable
        inputs, labels = Variable(inputs), Variable(labels)

        # Forward pass: Compute predicted y by passing x to the model
        y_pred = model(inputs)

        # Compute and print loss
        loss = criterion(y_pred, labels)
        print(epoch, i, loss.data[0])

        # Zero gradients, perform a backward pass, and update the weights.
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: UserWarning: invalid index of a 0-dim tensor. This will be an error in PyTorch 0.5. Use tensor.item() to convert a 0-dim tensor to a Python number

0 0 tensor(0.6926)
0 1 tensor(0.5881)
0 2 tensor(0.4584)
0 3 tensor(0.6672)
0 4 tensor(0.5146)
0 5 tensor(0.5861)
0 6 tensor(0.4107)
0 7 tensor(0.4849)
0 8 tensor(0.4236)
0 9 tensor(0.4517)
0 10 tensor(0.4382)
0 11 tensor(0.4963)
0 12 tensor(0.3747)
0 13 tensor(0.3313)
0 14 tensor(0.3506)
0 15 tensor(0.5563)
0 16 tensor(0.5451)
0 17 tensor(0.4124)
1 0 tensor(0.3954)
1 1 tensor(0.3814)
1 2 tensor(0.3767)
1 3 tensor(0.2995)
1 4 tensor(0.4237)
1 5 tensor(0.3476)
1 6 tensor(0.6849)
1 7 tensor(0.4845)
1 8 tensor(0.4667)
1 9 tensor(0.3812)
1 10 tensor(0.3722)
1 11 tensor(0.3241)
1 12 tensor(0.3710)
1 13 tensor(0.5318)
1 14 tensor(0.3560)
1 15 tensor(0.3131)
1 16 tensor(0.5959)
1 17 tensor(0.2401)
2 0 tensor(0.3301)
2 1 tensor(0.3540)
2 2 tensor(0.4299)
2 3 tensor(0.5204)
2 4 tensor(0.5275)
2 5 tensor(0.3758)
2 6 tensor(0.3200)
2 7 tensor(0.4661)
2 8 tensor(0.3964)
2 9 tensor(0.3777)
2 10 tensor(0.4330)
2 11 tensor(0.3397)
2 12 tensor(0.3751)
2 13 tensor(0.3329)
2 14 tensor(0.3889)
2 15 tensor(0.4437)
2 16 tensor(0.4154)
2 17 tensor(0.5362)
3 0 tensor(0.3378)
3 1 tensor(0.5077)
3 2 tensor(0.3524)
3 3 tensor(0.5256)
3 4 tensor(0.3642)
3 5 tensor(0.3276)
3 6 tensor(0.4449)
3 7 tensor(0.2947)
3 8 tensor(0.3164)
3 9 tensor(0.3694)
3 10 tensor(0.4699)
3 11 tensor(0.3889)
3 12 tensor(0.5273)
3 13 tensor(0.3162)
3 14 tensor(0.4753)
3 15 tensor(0.4472)
3 16 tensor(0.2963)
3 17 tensor(0.3670)
4 0 tensor(0.2754)
4 1 tensor(0.4628)
4 2 tensor(0.3216)
4 3 tensor(0.4060)
4 4 tensor(0.4845)
4 5 tensor(0.3106)
4 6 tensor(0.4367)
4 7 tensor(0.4003)
4 8 tensor(0.3115)
4 9 tensor(0.5656)
4 10 tensor(0.3647)
4 11 tensor(0.3887)
4 12 tensor(0.4244)
4 13 tensor(0.3369)
4 14 tensor(0.2617)
4 15 tensor(0.2941)
4 16 tensor(0.3972)
4 17 tensor(0.5793)
5 0 tensor(0.3334)
5 1 tensor(0.3065)
5 2 tensor(0.3804)
5 3 tensor(0.4682)
5 4 tensor(0.3905)
5 5 tensor(0.2930)
5 6 tensor(0.2408)
5 7 tensor(0.3293)
5 8 tensor(0.5641)
5 9 tensor(0.4613)
5 10 tensor(0.3343)
5 11 tensor(0.4961)
5 12 tensor(0.3918)
5 13 tensor(0.4525)
5 14 tensor(0.3738)
5 15 tensor(0.3781)
5 16 tensor(0.3731)
5 17 tensor(0.3097)
6 0 tensor(0.3866)
6 1 tensor(0.3214)
6 2 tensor(0.3846)
6 3 tensor(0.4145)
6 4 tensor(0.3251)
6 5 tensor(0.3942)
6 6 tensor(0.3087)
6 7 tensor(0.3146)
6 8 tensor(0.4398)
6 9 tensor(0.3060)
6 10 tensor(0.5073)
6 11 tensor(0.2810)
6 12 tensor(0.4224)
6 13 tensor(0.3513)
6 14 tensor(0.4056)
6 15 tensor(0.2609)
6 16 tensor(0.5792)
6 17 tensor(0.5346)
7 0 tensor(0.4839)
7 1 tensor(0.2789)
7 2 tensor(0.2528)
7 3 tensor(0.3660)
7 4 tensor(0.3509)
7 5 tensor(0.3709)
7 6 tensor(0.3500)
7 7 tensor(0.2463)
7 8 tensor(0.5314)
7 9 tensor(0.3704)
7 10 tensor(0.3682)
7 11 tensor(0.2418)
7 12 tensor(0.4944)
7 13 tensor(0.4413)
7 14 tensor(0.4701)
7 15 tensor(0.4683)
7 16 tensor(0.4010)
7 17 tensor(0.4283)
8 0 tensor(0.3386)
8 1 tensor(0.4544)
8 2 tensor(0.3633)
8 3 tensor(0.3243)
8 4 tensor(0.3085)
8 5 tensor(0.3657)
8 6 tensor(0.4064)
8 7 tensor(0.4106)
8 8 tensor(0.3772)
8 9 tensor(0.3736)
8 10 tensor(0.3225)
8 11 tensor(0.4119)
8 12 tensor(0.3090)
8 13 tensor(0.2527)
8 14 tensor(0.5370)
8 15 tensor(0.5079)
8 16 tensor(0.3508)
8 17 tensor(0.4300)
9 0 tensor(0.2037)
9 1 tensor(0.3592)
9 2 tensor(0.4075)
9 3 tensor(0.3632)
9 4 tensor(0.2816)
9 5 tensor(0.3068)
9 6 tensor(0.4078)
9 7 tensor(0.4445)
9 8 tensor(0.3516)
9 9 tensor(0.2854)
9 10 tensor(0.2814)
9 11 tensor(0.3376)
9 12 tensor(0.3955)
9 13 tensor(0.4526)
9 14 tensor(0.4849)
9 15 tensor(0.5631)
9 16 tensor(0.4273)
9 17 tensor(0.4358)
10 0 tensor(0.4957)
10 1 tensor(0.4509)
10 2 tensor(0.3327)
10 3 tensor(0.4144)
10 4 tensor(0.3359)
10 5 tensor(0.3880)
10 6 tensor(0.3897)
10 7 tensor(0.3373)
10 8 tensor(0.3104)
10 9 tensor(0.3678)
10 10 tensor(0.4965)
10 11 tensor(0.3299)
10 12 tensor(0.3091)
10 13 tensor(0.3012)
10 14 tensor(0.4437)
10 15 tensor(0.3329)
10 16 tensor(0.5845)
10 17 tensor(0.3399)
11 0 tensor(0.3176)
11 1 tensor(0.5263)
11 2 tensor(0.4562)
11 3 tensor(0.4589)
11 4 tensor(0.4597)
11 5 tensor(0.2600)
11 6 tensor(0.3942)
11 7 tensor(0.3185)
11 8 tensor(0.4817)
11 9 tensor(0.3422)
11 10 tensor(0.3607)
11 11 tensor(0.3665)
11 12 tensor(0.3765)
11 13 tensor(0.2667)
11 14 tensor(0.3295)
11 15 tensor(0.4029)
11 16 tensor(0.3899)
11 17 tensor(0.3370)
12 0 tensor(0.4618)
12 1 tensor(0.3994)
12 2 tensor(0.4929)
12 3 tensor(0.3793)
12 4 tensor(0.3548)
12 5 tensor(0.3704)
12 6 tensor(0.4225)
12 7 tensor(0.3457)
12 8 tensor(0.3912)
12 9 tensor(0.3732)
12 10 tensor(0.3101)
12 11 tensor(0.3624)
12 12 tensor(0.3365)
12 13 tensor(0.4051)
12 14 tensor(0.4621)
12 15 tensor(0.2540)
12 16 tensor(0.3676)
12 17 tensor(0.2925)
13 0 tensor(0.2774)
13 1 tensor(0.5391)
13 2 tensor(0.3312)
13 3 tensor(0.3645)
13 4 tensor(0.3887)
13 5 tensor(0.3170)
13 6 tensor(0.3703)
13 7 tensor(0.3496)
13 8 tensor(0.3157)
13 9 tensor(0.4195)
13 10 tensor(0.3378)
13 11 tensor(0.3094)
13 12 tensor(0.4474)
13 13 tensor(0.3941)
13 14 tensor(0.4052)
13 15 tensor(0.5353)
13 16 tensor(0.3930)
13 17 tensor(0.2833)
14 0 tensor(0.3489)
14 1 tensor(0.2382)
14 2 tensor(0.3594)
14 3 tensor(0.4589)
14 4 tensor(0.4234)
14 5 tensor(0.4065)
14 6 tensor(0.2794)
14 7 tensor(0.3920)
14 8 tensor(0.3413)
14 9 tensor(0.5069)
14 10 tensor(0.4735)
14 11 tensor(0.2892)
14 12 tensor(0.3140)
14 13 tensor(0.3526)
14 14 tensor(0.3599)
14 15 tensor(0.4380)
14 16 tensor(0.3248)
14 17 tensor(0.3502)
15 0 tensor(0.2993)
15 1 tensor(0.3148)
15 2 tensor(0.4253)
15 3 tensor(0.5126)
15 4 tensor(0.2822)
15 5 tensor(0.2747)
15 6 tensor(0.4675)
15 7 tensor(0.3096)
15 8 tensor(0.3055)
15 9 tensor(0.3758)
15 10 tensor(0.3348)
15 11 tensor(0.3680)
15 12 tensor(0.5045)
15 13 tensor(0.3546)
15 14 tensor(0.3820)
15 15 tensor(0.3766)
15 16 tensor(0.3392)
15 17 tensor(0.4755)
16 0 tensor(0.3783)
16 1 tensor(0.4192)
16 2 tensor(0.3497)
16 3 tensor(0.2973)
16 4 tensor(0.3395)
16 5 tensor(0.2878)
16 6 tensor(0.3375)
16 7 tensor(0.4940)
16 8 tensor(0.3843)
16 9 tensor(0.4377)
16 10 tensor(0.2339)
16 11 tensor(0.2713)
16 12 tensor(0.3386)
16 13 tensor(0.5698)
16 14 tensor(0.5657)
16 15 tensor(0.3184)
16 16 tensor(0.4367)
16 17 tensor(0.3262)
17 0 tensor(0.3696)
17 1 tensor(0.3296)
17 2 tensor(0.3436)
17 3 tensor(0.4112)
17 4 tensor(0.4422)
17 5 tensor(0.3474)
17 6 tensor(0.3475)
17 7 tensor(0.3563)
17 8 tensor(0.2776)
17 9 tensor(0.4284)
17 10 tensor(0.4752)
17 11 tensor(0.3480)
17 12 tensor(0.3663)
17 13 tensor(0.3931)
17 14 tensor(0.4248)
17 15 tensor(0.3360)
17 16 tensor(0.3956)
17 17 tensor(0.3838)
18 0 tensor(0.3826)
18 1 tensor(0.4558)
18 2 tensor(0.4361)
18 3 tensor(0.3322)
18 4 tensor(0.4168)
18 5 tensor(0.3800)
18 6 tensor(0.4791)
18 7 tensor(0.3036)
18 8 tensor(0.3782)
18 9 tensor(0.3606)
18 10 tensor(0.3805)
18 11 tensor(0.3249)
18 12 tensor(0.3151)
18 13 tensor(0.2486)
18 14 tensor(0.5048)
18 15 tensor(0.2844)
18 16 tensor(0.3875)
18 17 tensor(0.3548)
19 0 tensor(0.2689)
19 1 tensor(0.4245)
19 2 tensor(0.3291)
19 3 tensor(0.3012)
19 4 tensor(0.4079)
19 5 tensor(0.4221)
19 6 tensor(0.2992)
19 7 tensor(0.4979)
19 8 tensor(0.3628)
19 9 tensor(0.2787)
19 10 tensor(0.4399)
19 11 tensor(0.4115)
19 12 tensor(0.3424)
19 13 tensor(0.4500)
19 14 tensor(0.3758)
19 15 tensor(0.3783)
19 16 tensor(0.3228)
19 17 tensor(0.3734)
20 0 tensor(0.3173)
20 1 tensor(0.2871)
20 2 tensor(0.2870)
20 3 tensor(0.3586)
20 4 tensor(0.3152)
20 5 tensor(0.2611)
20 6 tensor(0.3005)
20 7 tensor(0.5570)
20 8 tensor(0.5215)
20 9 tensor(0.4639)
20 10 tensor(0.3103)
20 11 tensor(0.3355)
20 12 tensor(0.3671)
20 13 tensor(0.3446)
20 14 tensor(0.3177)
20 15 tensor(0.3797)
20 16 tensor(0.4373)
20 17 tensor(0.6010)
21 0 tensor(0.3463)
21 1 tensor(0.4666)
21 2 tensor(0.4191)
21 3 tensor(0.3586)
21 4 tensor(0.2403)
21 5 tensor(0.3583)
21 6 tensor(0.3112)
21 7 tensor(0.4135)
21 8 tensor(0.4410)
21 9 tensor(0.3654)
21 10 tensor(0.4623)
21 11 tensor(0.3171)
21 12 tensor(0.4182)
21 13 tensor(0.3793)
21 14 tensor(0.4604)
21 15 tensor(0.2940)
21 16 tensor(0.3715)
21 17 tensor(0.4073)
22 0 tensor(0.3786)
22 1 tensor(0.4209)
22 2 tensor(0.4098)
22 3 tensor(0.3338)
22 4 tensor(0.3709)
22 5 tensor(0.4801)
22 6 tensor(0.4540)
22 7 tensor(0.4842)
22 8 tensor(0.2429)
22 9 tensor(0.3866)
22 10 tensor(0.2695)
22 11 tensor(0.4374)
22 12 tensor(0.3854)
22 13 tensor(0.2906)
22 14 tensor(0.3123)
22 15 tensor(0.2995)
22 16 tensor(0.3466)
22 17 tensor(0.4431)
23 0 tensor(0.4267)
23 1 tensor(0.4903)
23 2 tensor(0.2831)
23 3 tensor(0.3832)
23 4 tensor(0.4301)
23 5 tensor(0.3483)
23 6 tensor(0.3488)
23 7 tensor(0.3844)
23 8 tensor(0.3832)
23 9 tensor(0.3708)
23 10 tensor(0.3631)
23 11 tensor(0.3528)
23 12 tensor(0.4360)
23 13 tensor(0.3190)
23 14 tensor(0.1437)
23 15 tensor(0.5643)
23 16 tensor(0.2985)
23 17 tensor(0.3040)
24 0 tensor(0.3913)
24 1 tensor(0.2978)
24 2 tensor(0.4557)
24 3 tensor(0.3056)
24 4 tensor(0.1765)
24 5 tensor(0.4400)
24 6 tensor(0.4634)
24 7 tensor(0.4638)
24 8 tensor(0.4011)
24 9 tensor(0.2648)
24 10 tensor(0.2901)

24 11 tensor(0.3836)
24 12 tensor(0.3285)
24 13 tensor(0.5068)
24 14 tensor(0.3864)
24 15 tensor(0.3414)
24 16 tensor(0.3861)
24 17 tensor(0.3507)
25 0 tensor(0.4441)
25 1 tensor(0.3642)
25 2 tensor(0.3619)
25 3 tensor(0.4288)
25 4 tensor(0.3162)
25 5 tensor(0.2855)
25 6 tensor(0.3953)
25 7 tensor(0.3285)
25 8 tensor(0.3398)
25 9 tensor(0.5469)
25 10 tensor(0.2126)
25 11 tensor(0.2790)
25 12 tensor(0.3733)
25 13 tensor(0.4087)
25 14 tensor(0.3869)
25 15 tensor(0.4458)
25 16 tensor(0.3066)
25 17 tensor(0.3713)
26 0 tensor(0.3227)
26 1 tensor(0.4161)
26 2 tensor(0.3425)
26 3 tensor(0.3710)
26 4 tensor(0.3484)
26 5 tensor(0.2967)
26 6 tensor(0.2751)
26 7 tensor(0.4907)
26 8 tensor(0.2790)
26 9 tensor(0.2811)
26 10 tensor(0.4478)
26 11 tensor(0.3646)
26 12 tensor(0.4706)
26 13 tensor(0.3550)
26 14 tensor(0.2670)
26 15 tensor(0.4216)
26 16 tensor(0.3808)
26 17 tensor(0.4681)
27 0 tensor(0.3481)
27 1 tensor(0.4337)
27 2 tensor(0.5098)
27 3 tensor(0.3818)
27 4 tensor(0.2378)
27 5 tensor(0.2162)
27 6 tensor(0.3205)
27 7 tensor(0.3500)
27 8 tensor(0.3688)
27 9 tensor(0.4477)
27 10 tensor(0.4474)
27 11 tensor(0.3694)
27 12 tensor(0.4178)
27 13 tensor(0.2811)
27 14 tensor(0.5469)
27 15 tensor(0.4203)
27 16 tensor(0.2407)
27 17 tensor(0.3242)
28 0 tensor(0.3086)
28 1 tensor(0.3610)
28 2 tensor(0.3458)
28 3 tensor(0.2743)
28 4 tensor(0.2512)
28 5 tensor(0.4061)
28 6 tensor(0.2446)
28 7 tensor(0.4669)
28 8 tensor(0.3953)
28 9 tensor(0.3865)
28 10 tensor(0.2333)
28 11 tensor(0.3792)
28 12 tensor(0.4187)
28 13 tensor(0.4820)
28 14 tensor(0.3822)
28 15 tensor(0.3242)
28 16 tensor(0.4821)
28 17 tensor(0.5089)
29 0 tensor(0.2541)
29 1 tensor(0.4325)
29 2 tensor(0.3813)
29 3 tensor(0.3690)
29 4 tensor(0.2983)
29 5 tensor(0.4094)
29 6 tensor(0.2802)
29 7 tensor(0.3120)
29 8 tensor(0.3472)
29 9 tensor(0.4533)
29 10 tensor(0.3685)
29 11 tensor(0.4150)
29 12 tensor(0.5326)
29 13 tensor(0.3900)
29 14 tensor(0.3107)
29 15 tensor(0.3245)
29 16 tensor(0.5098)
29 17 tensor(0.3524)
30 0 tensor(0.3201)
30 1 tensor(0.3738)
30 2 tensor(0.4309)
30 3 tensor(0.3203)
30 4 tensor(0.3733)
30 5 tensor(0.2648)
30 6 tensor(0.3355)
30 7 tensor(0.3338)
30 8 tensor(0.3230)
30 9 tensor(0.3500)
30 10 tensor(0.3272)
30 11 tensor(0.4653)
30 12 tensor(0.4317)
30 13 tensor(0.3466)
30 14 tensor(0.3643)
30 15 tensor(0.3994)
30 16 tensor(0.4331)
30 17 tensor(0.4905)
31 0 tensor(0.3641)
31 1 tensor(0.2310)
31 2 tensor(0.3201)
31 3 tensor(0.3932)
31 4 tensor(0.4511)
31 5 tensor(0.4546)
31 6 tensor(0.3082)
31 7 tensor(0.4365)
31 8 tensor(0.2795)
31 9 tensor(0.4789)
31 10 tensor(0.3455)
31 11 tensor(0.3539)
31 12 tensor(0.4442)
31 13 tensor(0.2877)
31 14 tensor(0.2371)
31 15 tensor(0.4533)
31 16 tensor(0.3671)
31 17 tensor(0.4023)
32 0 tensor(0.2717)
32 1 tensor(0.4250)
32 2 tensor(0.3429)
32 3 tensor(0.3210)
32 4 tensor(0.3550)
32 5 tensor(0.2058)
32 6 tensor(0.3393)
32 7 tensor(0.3292)
32 8 tensor(0.3959)
32 9 tensor(0.5445)
32 10 tensor(0.3658)
32 11 tensor(0.3881)
32 12 tensor(0.3688)
32 13 tensor(0.3069)
32 14 tensor(0.3709)
32 15 tensor(0.4627)
32 16 tensor(0.4644)
32 17 tensor(0.4140)
33 0 tensor(0.2946)
33 1 tensor(0.4042)
33 2 tensor(0.3651)
33 3 tensor(0.3372)
33 4 tensor(0.2549)
33 5 tensor(0.4324)
33 6 tensor(0.5547)
33 7 tensor(0.2912)
33 8 tensor(0.4214)
33 9 tensor(0.2482)
33 10 tensor(0.3779)
33 11 tensor(0.3790)
33 12 tensor(0.3613)
33 13 tensor(0.5366)
33 14 tensor(0.2787)
33 15 tensor(0.2686)
33 16 tensor(0.4228)
33 17 tensor(0.3553)
34 0 tensor(0.3966)
34 1 tensor(0.4387)
34 2 tensor(0.3589)
34 3 tensor(0.4645)
34 4 tensor(0.3364)
34 5 tensor(0.3351)
34 6 tensor(0.3500)
34 7 tensor(0.3839)
34 8 tensor(0.2556)
34 9 tensor(0.2475)
34 10 tensor(0.3362)
34 11 tensor(0.3164)
34 12 tensor(0.3913)
34 13 tensor(0.5518)
34 14 tensor(0.3882)
34 15 tensor(0.2870)
34 16 tensor(0.4069)
34 17 tensor(0.4191)
35 0 tensor(0.2905)
35 1 tensor(0.4278)
35 2 tensor(0.3813)
35 3 tensor(0.2668)
35 4 tensor(0.3145)
35 5 tensor(0.3780)
35 6 tensor(0.2869)
35 7 tensor(0.4911)
35 8 tensor(0.3036)
35 9 tensor(0.2485)
35 10 tensor(0.3292)
35 11 tensor(0.3515)
35 12 tensor(0.3390)
35 13 tensor(0.3507)
35 14 tensor(0.5430)
35 15 tensor(0.3775)
35 16 tensor(0.3529)
35 17 tensor(0.5275)
36 0 tensor(0.3798)
36 1 tensor(0.4859)
36 2 tensor(0.3592)
36 3 tensor(0.3679)
36 4 tensor(0.3266)
36 5 tensor(0.3816)
36 6 tensor(0.3728)
36 7 tensor(0.3697)
36 8 tensor(0.3798)
36 9 tensor(0.3085)
36 10 tensor(0.3842)
36 11 tensor(0.3267)
36 12 tensor(0.4128)
36 13 tensor(0.4454)
36 14 tensor(0.3455)
36 15 tensor(0.3266)
36 16 tensor(0.4555)
36 17 tensor(0.2133)
37 0 tensor(0.3550)
37 1 tensor(0.4698)
37 2 tensor(0.4161)
37 3 tensor(0.3480)
37 4 tensor(0.4892)
37 5 tensor(0.3080)
37 6 tensor(0.3458)
37 7 tensor(0.5015)
37 8 tensor(0.3747)
37 9 tensor(0.4009)
37 10 tensor(0.3090)
37 11 tensor(0.4011)
37 12 tensor(0.3231)
37 13 tensor(0.3609)
37 14 tensor(0.4319)
37 15 tensor(0.2649)
37 16 tensor(0.2784)
37 17 tensor(0.3124)
38 0 tensor(0.4087)
38 1 tensor(0.4010)
38 2 tensor(0.4442)
38 3 tensor(0.4200)
38 4 tensor(0.4246)
38 5 tensor(0.4591)
38 6 tensor(0.3672)
38 7 tensor(0.1728)
38 8 tensor(0.3573)
38 9 tensor(0.3843)
38 10 tensor(0.3379)
38 11 tensor(0.4630)
38 12 tensor(0.3297)
38 13 tensor(0.3349)
38 14 tensor(0.3080)
38 15 tensor(0.4577)
38 16 tensor(0.3768)
38 17 tensor(0.2410)
39 0 tensor(0.3724)
39 1 tensor(0.3490)
39 2 tensor(0.3049)
39 3 tensor(0.3376)
39 4 tensor(0.3936)
39 5 tensor(0.4873)
39 6 tensor(0.3248)
39 7 tensor(0.1936)
39 8 tensor(0.3780)
39 9 tensor(0.2324)
39 10 tensor(0.3647)
39 11 tensor(0.3182)
39 12 tensor(0.3115)
39 13 tensor(0.2958)
39 14 tensor(0.6948)
39 15 tensor(0.3163)
39 16 tensor(0.3376)
39 17 tensor(0.6590)
40 0 tensor(0.3197)
40 1 tensor(0.3317)
40 2 tensor(0.3649)
40 3 tensor(0.3948)
40 4 tensor(0.3907)
40 5 tensor(0.3092)
40 6 tensor(0.2656)
40 7 tensor(0.3529)
40 8 tensor(0.3543)
40 9 tensor(0.4593)
40 10 tensor(0.4510)
40 11 tensor(0.4710)
40 12 tensor(0.4608)
40 13 tensor(0.3517)
40 14 tensor(0.4363)
40 15 tensor(0.3106)
40 16 tensor(0.2902)
40 17 tensor(0.3071)
41 0 tensor(0.3956)
41 1 tensor(0.3410)
41 2 tensor(0.3562)
41 3 tensor(0.4032)
41 4 tensor(0.4715)
41 5 tensor(0.3252)
41 6 tensor(0.3140)
41 7 tensor(0.4027)
41 8 tensor(0.3446)
41 9 tensor(0.3666)
41 10 tensor(0.3707)
41 11 tensor(0.4956)
41 12 tensor(0.2512)
41 13 tensor(0.4766)
41 14 tensor(0.2964)
41 15 tensor(0.3071)
41 16 tensor(0.3293)
41 17 tensor(0.2620)
42 0 tensor(0.4722)
42 1 tensor(0.2540)
42 2 tensor(0.4060)
42 3 tensor(0.4152)
42 4 tensor(0.2743)
42 5 tensor(0.3564)
42 6 tensor(0.3750)
42 7 tensor(0.4127)
42 8 tensor(0.3042)
42 9 tensor(0.4130)
42 10 tensor(0.3916)
42 11 tensor(0.3612)
42 12 tensor(0.5109)
42 13 tensor(0.2674)
42 14 tensor(0.4485)
42 15 tensor(0.3660)
42 16 tensor(0.2661)
42 17 tensor(0.2000)
43 0 tensor(0.3179)
43 1 tensor(0.3999)
43 2 tensor(0.3198)
43 3 tensor(0.2935)
43 4 tensor(0.3058)
43 5 tensor(0.3405)
43 6 tensor(0.2792)
43 7 tensor(0.4947)
43 8 tensor(0.3382)
43 9 tensor(0.3556)
43 10 tensor(0.5455)
43 11 tensor(0.2547)
43 12 tensor(0.3434)
43 13 tensor(0.3675)
43 14 tensor(0.4418)
43 15 tensor(0.3111)
43 16 tensor(0.3405)
43 17 tensor(0.4940)
44 0 tensor(0.2707)
44 1 tensor(0.1884)
44 2 tensor(0.3222)
44 3 tensor(0.2911)
44 4 tensor(0.4950)
44 5 tensor(0.3347)
44 6 tensor(0.3691)
44 7 tensor(0.4170)
44 8 tensor(0.4846)
44 9 tensor(0.5134)
44 10 tensor(0.3341)
44 11 tensor(0.3612)
44 12 tensor(0.4653)
44 13 tensor(0.2815)
44 14 tensor(0.3851)
44 15 tensor(0.2927)
44 16 tensor(0.3829)
44 17 tensor(0.4519)
45 0 tensor(0.2490)
45 1 tensor(0.2407)
45 2 tensor(0.3436)
45 3 tensor(0.4834)
45 4 tensor(0.3809)
45 5 tensor(0.2954)
45 6 tensor(0.3738)
45 7 tensor(0.4256)
45 8 tensor(0.4304)
45 9 tensor(0.3578)
45 10 tensor(0.2853)
45 11 tensor(0.3301)
45 12 tensor(0.3627)
45 13 tensor(0.3976)
45 14 tensor(0.3546)
45 15 tensor(0.3833)
45 16 tensor(0.4030)
45 17 tensor(0.4455)
46 0 tensor(0.3449)
46 1 tensor(0.3370)
46 2 tensor(0.2645)
46 3 tensor(0.3927)
46 4 tensor(0.3185)
46 5 tensor(0.3436)
46 6 tensor(0.2981)
46 7 tensor(0.3878)
46 8 tensor(0.4154)
46 9 tensor(0.5075)
46 10 tensor(0.4930)
46 11 tensor(0.2570)
46 12 tensor(0.4284)
46 13 tensor(0.2401)
46 14 tensor(0.2746)
46 15 tensor(0.4225)
46 16 tensor(0.3179)
46 17 tensor(0.5106)
47 0 tensor(0.3184)
47 1 tensor(0.4021)
47 2 tensor(0.6143)
47 3 tensor(0.3494)
47 4 tensor(0.2923)
47 5 tensor(0.2883)
47 6 tensor(0.3569)
47 7 tensor(0.3741)
47 8 tensor(0.2985)
47 9 tensor(0.4213)
47 10 tensor(0.4125)
47 11 tensor(0.3163)
47 12 tensor(0.3799)
47 13 tensor(0.3336)
47 14 tensor(0.3150)
47 15 tensor(0.3602)
47 16 tensor(0.3071)
47 17 tensor(0.3988)
48 0 tensor(0.4753)
48 1 tensor(0.4249)
48 2 tensor(0.4236)
48 3 tensor(0.4015)
48 4 tensor(0.3059)
48 5 tensor(0.3383)
48 6 tensor(0.2764)
48 7 tensor(0.2842)
48 8 tensor(0.2346)
48 9 tensor(0.4155)
48 10 tensor(0.4426)
48 11 tensor(0.2977)
48 12 tensor(0.2668)
48 13 tensor(0.2624)

48 14 tensor(0.3511)
48 15 tensor(0.2754)
48 16 tensor(0.4725)
48 17 tensor(0.5618)
49 0 tensor(0.3682)
49 1 tensor(0.2028)
49 2 tensor(0.3196)
49 3 tensor(0.3919)
49 4 tensor(0.3940)
49 5 tensor(0.3835)
49 6 tensor(0.3272)
49 7 tensor(0.2171)
49 8 tensor(0.4637)
49 9 tensor(0.3107)
49 10 tensor(0.3306)
49 11 tensor(0.3897)
49 12 tensor(0.3644)
49 13 tensor(0.4119)
49 14 tensor(0.3709)
49 15 tensor(0.4473)
49 16 tensor(0.4182)
49 17 tensor(0.3481)
50 0 tensor(0.2956)
50 1 tensor(0.3840)
50 2 tensor(0.3939)
50 3 tensor(0.3738)
50 4 tensor(0.3127)
50 5 tensor(0.3635)
50 6 tensor(0.3938)
50 7 tensor(0.2390)
50 8 tensor(0.3409)
50 9 tensor(0.3558)
50 10 tensor(0.3096)
50 11 tensor(0.3717)
50 12 tensor(0.4103)
50 13 tensor(0.5654)
50 14 tensor(0.3199)
50 15 tensor(0.4204)
50 16 tensor(0.3462)
50 17 tensor(0.3247)
51 0 tensor(0.1637)
51 1 tensor(0.2560)
51 2 tensor(0.3867)
51 3 tensor(0.3627)
51 4 tensor(0.3845)
51 5 tensor(0.3338)
51 6 tensor(0.5066)
51 7 tensor(0.3489)
51 8 tensor(0.2670)
51 9 tensor(0.3907)
51 10 tensor(0.3412)
51 11 tensor(0.3886)
51 12 tensor(0.4080)
51 13 tensor(0.1841)
51 14 tensor(0.4643)
51 15 tensor(0.5262)
51 16 tensor(0.3759)
51 17 tensor(0.4518)
52 0 tensor(0.3951)
52 1 tensor(0.1786)
52 2 tensor(0.3519)
52 3 tensor(0.3384)
52 4 tensor(0.2589)
52 5 tensor(0.3062)
52 6 tensor(0.3006)
52 7 tensor(0.3594)
52 8 tensor(0.3316)
52 9 tensor(0.4810)
52 10 tensor(0.3490)
52 11 tensor(0.4318)
52 12 tensor(0.5352)
52 13 tensor(0.4053)
52 14 tensor(0.2797)
52 15 tensor(0.5246)
52 16 tensor(0.3237)
52 17 tensor(0.3703)
53 0 tensor(0.3665)
53 1 tensor(0.3873)
53 2 tensor(0.2262)
53 3 tensor(0.4281)
53 4 tensor(0.3924)
53 5 tensor(0.4025)
53 6 tensor(0.3634)
53 7 tensor(0.3982)
53 8 tensor(0.3457)
53 9 tensor(0.3784)
53 10 tensor(0.2624)
53 11 tensor(0.2844)
53 12 tensor(0.3972)
53 13 tensor(0.2515)
53 14 tensor(0.2129)
53 15 tensor(0.4538)
53 16 tensor(0.4149)
53 17 tensor(0.6112)
54 0 tensor(0.3025)
54 1 tensor(0.3824)
54 2 tensor(0.4250)
54 3 tensor(0.2289)
54 4 tensor(0.4241)
54 5 tensor(0.3929)
54 6 tensor(0.3301)
54 7 tensor(0.3637)
54 8 tensor(0.4230)
54 9 tensor(0.4506)
54 10 tensor(0.3060)
54 11 tensor(0.4049)
54 12 tensor(0.2220)
54 13 tensor(0.3235)
54 14 tensor(0.4515)
54 15 tensor(0.2603)
54 16 tensor(0.5413)
54 17 tensor(0.2645)
55 0 tensor(0.5100)
55 1 tensor(0.4344)
55 2 tensor(0.2888)
55 3 tensor(0.2541)
55 4 tensor(0.4164)
55 5 tensor(0.3318)
55 6 tensor(0.4607)
55 7 tensor(0.3375)
55 8 tensor(0.2719)
55 9 tensor(0.3989)
55 10 tensor(0.4089)
55 11 tensor(0.3270)
55 12 tensor(0.3992)
55 13 tensor(0.3037)
55 14 tensor(0.3562)
55 15 tensor(0.4071)
55 16 tensor(0.3441)
55 17 tensor(0.2120)
56 0 tensor(0.2887)
56 1 tensor(0.3776)
56 2 tensor(0.3335)
56 3 tensor(0.4173)
56 4 tensor(0.3443)
56 5 tensor(0.4518)
56 6 tensor(0.2671)
56 7 tensor(0.2967)
56 8 tensor(0.3996)
56 9 tensor(0.3908)
56 10 tensor(0.4333)
56 11 tensor(0.2640)
56 12 tensor(0.2804)
56 13 tensor(0.3682)
56 14 tensor(0.4168)
56 15 tensor(0.2736)
56 16 tensor(0.5190)
56 17 tensor(0.3785)
57 0 tensor(0.2760)
57 1 tensor(0.3713)
57 2 tensor(0.3615)
57 3 tensor(0.2344)
57 4 tensor(0.3795)
57 5 tensor(0.4209)
57 6 tensor(0.4360)
57 7 tensor(0.3890)
57 8 tensor(0.5162)
57 9 tensor(0.3709)
57 10 tensor(0.3467)
57 11 tensor(0.2240)
57 12 tensor(0.4436)
57 13 tensor(0.3836)
57 14 tensor(0.3221)
57 15 tensor(0.2910)
57 16 tensor(0.4178)
57 17 tensor(0.2827)
58 0 tensor(0.3149)
58 1 tensor(0.3613)
58 2 tensor(0.3616)
58 3 tensor(0.3123)
58 4 tensor(0.3068)
58 5 tensor(0.2966)
58 6 tensor(0.4657)
58 7 tensor(0.2652)
58 8 tensor(0.2504)
58 9 tensor(0.3617)
58 10 tensor(0.4968)
58 11 tensor(0.4564)
58 12 tensor(0.4191)
58 13 tensor(0.4072)
58 14 tensor(0.4019)
58 15 tensor(0.3027)
58 16 tensor(0.3639)
58 17 tensor(0.3766)
59 0 tensor(0.3500)
59 1 tensor(0.3097)
59 2 tensor(0.3526)
59 3 tensor(0.2800)
59 4 tensor(0.2996)
59 5 tensor(0.4607)
59 6 tensor(0.3661)
59 7 tensor(0.3130)
59 8 tensor(0.4560)
59 9 tensor(0.3694)
59 10 tensor(0.3415)
59 11 tensor(0.3334)
59 12 tensor(0.2735)
59 13 tensor(0.3792)
59 14 tensor(0.3206)
59 15 tensor(0.4464)
59 16 tensor(0.3427)
59 17 tensor(0.5835)
60 0 tensor(0.2998)
60 1 tensor(0.3240)
60 2 tensor(0.3034)
60 3 tensor(0.3505)
60 4 tensor(0.3734)
60 5 tensor(0.4110)
60 6 tensor(0.3032)
60 7 tensor(0.5126)
60 8 tensor(0.3376)
60 9 tensor(0.3354)
60 10 tensor(0.3884)
60 11 tensor(0.3657)
60 12 tensor(0.2769)
60 13 tensor(0.3277)
60 14 tensor(0.3840)
60 15 tensor(0.4238)
60 16 tensor(0.3949)
60 17 tensor(0.3545)
61 0 tensor(0.4229)
61 1 tensor(0.4188)
61 2 tensor(0.4750)
61 3 tensor(0.2850)
61 4 tensor(0.3003)
61 5 tensor(0.3068)
61 6 tensor(0.2560)
61 7 tensor(0.5529)
61 8 tensor(0.4028)
61 9 tensor(0.2590)
61 10 tensor(0.3804)
61 11 tensor(0.3015)
61 12 tensor(0.5298)
61 13 tensor(0.3073)
61 14 tensor(0.4063)
61 15 tensor(0.3614)
61 16 tensor(0.1963)
61 17 tensor(0.3063)
62 0 tensor(0.3961)
62 1 tensor(0.5009)
62 2 tensor(0.3762)
62 3 tensor(0.2621)
62 4 tensor(0.4659)
62 5 tensor(0.2733)
62 6 tensor(0.3393)
62 7 tensor(0.4327)
62 8 tensor(0.3538)
62 9 tensor(0.4855)
62 10 tensor(0.3810)
62 11 tensor(0.3355)
62 12 tensor(0.2895)
62 13 tensor(0.3684)
62 14 tensor(0.2931)
62 15 tensor(0.3484)
62 16 tensor(0.3431)
62 17 tensor(0.2649)
63 0 tensor(0.2870)
63 1 tensor(0.2875)
63 2 tensor(0.6363)
63 3 tensor(0.2346)
63 4 tensor(0.4817)
63 5 tensor(0.2849)
63 6 tensor(0.3644)
63 7 tensor(0.4917)
63 8 tensor(0.3214)
63 9 tensor(0.2422)
63 10 tensor(0.3821)
63 11 tensor(0.2105)
63 12 tensor(0.3912)
63 13 tensor(0.4917)
63 14 tensor(0.4221)
63 15 tensor(0.2639)
63 16 tensor(0.4061)
63 17 tensor(0.2873)
64 0 tensor(0.2777)
64 1 tensor(0.3910)
64 2 tensor(0.3808)
64 3 tensor(0.2250)
64 4 tensor(0.3101)
64 5 tensor(0.5053)
64 6 tensor(0.3050)
64 7 tensor(0.3084)
64 8 tensor(0.3505)
64 9 tensor(0.3877)
64 10 tensor(0.3024)
64 11 tensor(0.4474)
64 12 tensor(0.5739)
64 13 tensor(0.3285)
64 14 tensor(0.3752)
64 15 tensor(0.3356)
64 16 tensor(0.3378)
64 17 tensor(0.3397)
65 0 tensor(0.3670)
65 1 tensor(0.2555)
65 2 tensor(0.4548)
65 3 tensor(0.4119)
65 4 tensor(0.5071)
65 5 tensor(0.2628)
65 6 tensor(0.3261)
65 7 tensor(0.3924)
65 8 tensor(0.3777)
65 9 tensor(0.3407)
65 10 tensor(0.2937)
65 11 tensor(0.3013)
65 12 tensor(0.2864)
65 13 tensor(0.2543)
65 14 tensor(0.3597)
65 15 tensor(0.3339)
65 16 tensor(0.5047)
65 17 tensor(0.4488)
66 0 tensor(0.5322)
66 1 tensor(0.2784)
66 2 tensor(0.2263)
66 3 tensor(0.3692)
66 4 tensor(0.3896)
66 5 tensor(0.4775)
66 6 tensor(0.3663)
66 7 tensor(0.4162)
66 8 tensor(0.3205)
66 9 tensor(0.2829)
66 10 tensor(0.3146)
66 11 tensor(0.3141)
66 12 tensor(0.2551)
66 13 tensor(0.3494)
66 14 tensor(0.3424)
66 15 tensor(0.6905)
66 16 tensor(0.3406)
66 17 tensor(0.2654)
67 0 tensor(0.3058)
67 1 tensor(0.3124)
67 2 tensor(0.4439)
67 3 tensor(0.2602)
67 4 tensor(0.3482)
67 5 tensor(0.4005)
67 6 tensor(0.3854)
67 7 tensor(0.3652)
67 8 tensor(0.4537)
67 9 tensor(0.3818)
67 10 tensor(0.3290)
67 11 tensor(0.3657)
67 12 tensor(0.4716)
67 13 tensor(0.3509)
67 14 tensor(0.3388)
67 15 tensor(0.2242)
67 16 tensor(0.3971)
67 17 tensor(0.2475)
68 0 tensor(0.3396)
68 1 tensor(0.2647)
68 2 tensor(0.1656)
68 3 tensor(0.4130)
68 4 tensor(0.4110)
68 5 tensor(0.2195)
68 6 tensor(0.5922)
68 7 tensor(0.3183)
68 8 tensor(0.4296)
68 9 tensor(0.3506)
68 10 tensor(0.4066)
68 11 tensor(0.3172)
68 12 tensor(0.3381)
68 13 tensor(0.4074)
68 14 tensor(0.3075)
68 15 tensor(0.3058)
68 16 tensor(0.4081)
68 17 tensor(0.5088)
69 0 tensor(0.4312)
69 1 tensor(0.3454)
69 2 tensor(0.3073)
69 3 tensor(0.3944)
69 4 tensor(0.4163)
69 5 tensor(0.2666)
69 6 tensor(0.3642)
69 7 tensor(0.3263)
69 8 tensor(0.4025)
69 9 tensor(0.3291)
69 10 tensor(0.3648)
69 11 tensor(0.3359)
69 12 tensor(0.3225)
69 13 tensor(0.4922)
69 14 tensor(0.3686)
69 15 tensor(0.2554)
69 16 tensor(0.4691)
69 17 tensor(0.2718)
70 0 tensor(0.3012)
70 1 tensor(0.3834)
70 2 tensor(0.4140)
70 3 tensor(0.3095)
70 4 tensor(0.4294)
70 5 tensor(0.2875)
70 6 tensor(0.3948)
70 7 tensor(0.4352)
70 8 tensor(0.2046)
70 9 tensor(0.2503)
70 10 tensor(0.4365)
70 11 tensor(0.3441)
70 12 tensor(0.3417)
70 13 tensor(0.3494)
70 14 tensor(0.4297)
70 15 tensor(0.3064)
70 16 tensor(0.4429)
70 17 tensor(0.4179)
71 0 tensor(0.2742)
71 1 tensor(0.2983)
71 2 tensor(0.2694)
71 3 tensor(0.2749)
71 4 tensor(0.3689)
71 5 tensor(0.2148)
71 6 tensor(0.3885)
71 7 tensor(0.3656)
71 8 tensor(0.2996)
71 9 tensor(0.3874)
71 10 tensor(0.3481)
71 11 tensor(0.3546)
71 12 tensor(0.2521)
71 13 tensor(0.4950)
71 14 tensor(0.4953)
71 15 tensor(0.4958)
71 16 tensor(0.3483)
71 17 tensor(0.5228)
72 0 tensor(0.4693)
72 1 tensor(0.4433)
72 2 tensor(0.3654)
72 3 tensor(0.3232)
72 4 tensor(0.2901)
72 5 tensor(0.3153)
72 6 tensor(0.3211)
72 7 tensor(0.4774)
72 8 tensor(0.3256)
72 9 tensor(0.3150)
72 10 tensor(0.3636)
72 11 tensor(0.3672)
72 12 tensor(0.4261)
72 13 tensor(0.2945)
72 14 tensor(0.4201)
72 15 tensor(0.2267)
72 16 tensor(0.4732)

72 17 tensor(0.3446)
73 0 tensor(0.4009)
73 1 tensor(0.2834)
73 2 tensor(0.3970)
73 3 tensor(0.3544)
73 4 tensor(0.3774)
73 5 tensor(0.3186)
73 6 tensor(0.5265)
73 7 tensor(0.3878)
73 8 tensor(0.2290)
73 9 tensor(0.4423)
73 10 tensor(0.2533)
73 11 tensor(0.2729)
73 12 tensor(0.4806)
73 13 tensor(0.4231)
73 14 tensor(0.4434)
73 15 tensor(0.2923)
73 16 tensor(0.2642)
73 17 tensor(0.2968)
74 0 tensor(0.2364)
74 1 tensor(0.3131)
74 2 tensor(0.3529)
74 3 tensor(0.3776)
74 4 tensor(0.2735)
74 5 tensor(0.3358)
74 6 tensor(0.2078)
74 7 tensor(0.4505)
74 8 tensor(0.3285)
74 9 tensor(0.3320)
74 10 tensor(0.3922)
74 11 tensor(0.4529)
74 12 tensor(0.3506)
74 13 tensor(0.5300)
74 14 tensor(0.3708)
74 15 tensor(0.3171)
74 16 tensor(0.3448)
74 17 tensor(0.5327)
75 0 tensor(0.2523)
75 1 tensor(0.4215)
75 2 tensor(0.3930)
75 3 tensor(0.2379)
75 4 tensor(0.5438)
75 5 tensor(0.3074)
75 6 tensor(0.4356)
75 7 tensor(0.3859)
75 8 tensor(0.3680)
75 9 tensor(0.3339)
75 10 tensor(0.2805)
75 11 tensor(0.2558)
75 12 tensor(0.5020)
75 13 tensor(0.3957)
75 14 tensor(0.3296)
75 15 tensor(0.2542)
75 16 tensor(0.4472)
75 17 tensor(0.3266)
76 0 tensor(0.3210)
76 1 tensor(0.3533)
76 2 tensor(0.3525)
76 3 tensor(0.5616)
76 4 tensor(0.2595)
76 5 tensor(0.4057)
76 6 tensor(0.3327)
76 7 tensor(0.4792)
76 8 tensor(0.3092)
76 9 tensor(0.2945)
76 10 tensor(0.2836)
76 11 tensor(0.4191)
76 12 tensor(0.3289)
76 13 tensor(0.4260)
76 14 tensor(0.3467)
76 15 tensor(0.4007)
76 16 tensor(0.2439)
76 17 tensor(0.2928)
77 0 tensor(0.3887)
77 1 tensor(0.3624)
77 2 tensor(0.5267)
77 3 tensor(0.3813)
77 4 tensor(0.3152)
77 5 tensor(0.4464)
77 6 tensor(0.3546)
77 7 tensor(0.2279)
77 8 tensor(0.3978)
77 9 tensor(0.3645)
77 10 tensor(0.4163)
77 11 tensor(0.2560)
77 12 tensor(0.3661)
77 13 tensor(0.3127)
77 14 tensor(0.3435)
77 15 tensor(0.2921)
77 16 tensor(0.3007)
77 17 tensor(0.3749)
78 0 tensor(0.3767)
78 1 tensor(0.2781)
78 2 tensor(0.3141)
78 3 tensor(0.4214)
78 4 tensor(0.3814)
78 5 tensor(0.3722)
78 6 tensor(0.2817)
78 7 tensor(0.3976)
78 8 tensor(0.3534)
78 9 tensor(0.2771)
78 10 tensor(0.4024)
78 11 tensor(0.4568)
78 12 tensor(0.2461)
78 13 tensor(0.3949)
78 14 tensor(0.4367)
78 15 tensor(0.3824)
78 16 tensor(0.3922)
78 17 tensor(0.3893)
79 0 tensor(0.3716)
79 1 tensor(0.3550)
79 2 tensor(0.2892)
79 3 tensor(0.4478)
79 4 tensor(0.2456)
79 5 tensor(0.2011)
79 6 tensor(0.3307)
79 7 tensor(0.3754)
79 8 tensor(0.3842)
79 9 tensor(0.2783)
79 10 tensor(0.3039)
79 11 tensor(0.3726)
79 12 tensor(0.5250)
79 13 tensor(0.3959)
79 14 tensor(0.3757)
79 15 tensor(0.3427)
79 16 tensor(0.3852)
79 17 tensor(0.4671)
80 0 tensor(0.2796)
80 1 tensor(0.3720)
80 2 tensor(0.3890)
80 3 tensor(0.2399)
80 4 tensor(0.5030)
80 5 tensor(0.4356)
80 6 tensor(0.3946)
80 7 tensor(0.2656)
80 8 tensor(0.3839)
80 9 tensor(0.2981)
80 10 tensor(0.3494)
80 11 tensor(0.3090)
80 12 tensor(0.3756)
80 13 tensor(0.3340)
80 14 tensor(0.2704)
80 15 tensor(0.4621)
80 16 tensor(0.3764)
80 17 tensor(0.3978)
81 0 tensor(0.2706)
81 1 tensor(0.2620)
81 2 tensor(0.2819)
81 3 tensor(0.3840)
81 4 tensor(0.5031)
81 5 tensor(0.2801)
81 6 tensor(0.3825)
81 7 tensor(0.4449)
81 8 tensor(0.3195)
81 9 tensor(0.5328)
81 10 tensor(0.3226)
81 11 tensor(0.3506)
81 12 tensor(0.3351)
81 13 tensor(0.5253)
81 14 tensor(0.3560)
81 15 tensor(0.2881)
81 16 tensor(0.2419)
81 17 tensor(0.3742)
82 0 tensor(0.3628)
82 1 tensor(0.3739)
82 2 tensor(0.3256)
82 3 tensor(0.2900)
82 4 tensor(0.3990)
82 5 tensor(0.3642)
82 6 tensor(0.3286)
82 7 tensor(0.3303)
82 8 tensor(0.4019)
82 9 tensor(0.3085)
82 10 tensor(0.3361)
82 11 tensor(0.2940)
82 12 tensor(0.3920)
82 13 tensor(0.2606)
82 14 tensor(0.5785)
82 15 tensor(0.3670)
82 16 tensor(0.3500)
82 17 tensor(0.3985)
83 0 tensor(0.5142)
83 1 tensor(0.4135)
83 2 tensor(0.3970)
83 3 tensor(0.4152)
83 4 tensor(0.2480)
83 5 tensor(0.3394)
83 6 tensor(0.2991)
83 7 tensor(0.4108)
83 8 tensor(0.3512)
83 9 tensor(0.3043)
83 10 tensor(0.2938)
83 11 tensor(0.2329)
83 12 tensor(0.3697)
83 13 tensor(0.3302)
83 14 tensor(0.5473)
83 15 tensor(0.4201)
83 16 tensor(0.3906)
83 17 tensor(0.2783)
84 0 tensor(0.2990)
84 1 tensor(0.3688)
84 2 tensor(0.2086)
84 3 tensor(0.5388)
84 4 tensor(0.4986)
84 5 tensor(0.3743)
84 6 tensor(0.4689)
84 7 tensor(0.2957)
84 8 tensor(0.3474)
84 9 tensor(0.3731)
84 10 tensor(0.2858)
84 11 tensor(0.3362)
84 12 tensor(0.3352)
84 13 tensor(0.2554)
84 14 tensor(0.4680)
84 15 tensor(0.3134)
84 16 tensor(0.3925)
84 17 tensor(0.3538)
85 0 tensor(0.2922)
85 1 tensor(0.3838)
85 2 tensor(0.5036)
85 3 tensor(0.3827)
85 4 tensor(0.4112)
85 5 tensor(0.2878)
85 6 tensor(0.2710)
85 7 tensor(0.3688)
85 8 tensor(0.3115)
85 9 tensor(0.3729)
85 10 tensor(0.3011)
85 11 tensor(0.4712)
85 12 tensor(0.3091)
85 13 tensor(0.4943)
85 14 tensor(0.2647)
85 15 tensor(0.3940)
85 16 tensor(0.2648)
85 17 tensor(0.3215)
86 0 tensor(0.2169)
86 1 tensor(0.4362)
86 2 tensor(0.3060)
86 3 tensor(0.3584)
86 4 tensor(0.2652)
86 5 tensor(0.2993)
86 6 tensor(0.4091)
86 7 tensor(0.3286)
86 8 tensor(0.4561)
86 9 tensor(0.4209)
86 10 tensor(0.3362)
86 11 tensor(0.4026)
86 12 tensor(0.2742)
86 13 tensor(0.4809)
86 14 tensor(0.3942)
86 15 tensor(0.3562)
86 16 tensor(0.3756)
86 17 tensor(0.2925)
87 0 tensor(0.2614)
87 1 tensor(0.3542)
87 2 tensor(0.3422)
87 3 tensor(0.2937)
87 4 tensor(0.3390)
87 5 tensor(0.3207)
87 6 tensor(0.3766)
87 7 tensor(0.3987)
87 8 tensor(0.3812)
87 9 tensor(0.3043)
87 10 tensor(0.4025)
87 11 tensor(0.3112)
87 12 tensor(0.5316)
87 13 tensor(0.3530)
87 14 tensor(0.3977)
87 15 tensor(0.2739)
87 16 tensor(0.3233)
87 17 tensor(0.4899)
88 0 tensor(0.4411)
88 1 tensor(0.2946)
88 2 tensor(0.3241)
88 3 tensor(0.3561)
88 4 tensor(0.3848)
88 5 tensor(0.3701)
88 6 tensor(0.2969)
88 7 tensor(0.5135)
88 8 tensor(0.3451)
88 9 tensor(0.4267)
88 10 tensor(0.3338)
88 11 tensor(0.3625)
88 12 tensor(0.3023)
88 13 tensor(0.2252)
88 14 tensor(0.2810)
88 15 tensor(0.3210)
88 16 tensor(0.4498)
88 17 tensor(0.3699)
89 0 tensor(0.4650)
89 1 tensor(0.2805)
89 2 tensor(0.2932)
89 3 tensor(0.4036)
89 4 tensor(0.3972)
89 5 tensor(0.3193)
89 6 tensor(0.3519)
89 7 tensor(0.3821)
89 8 tensor(0.3132)
89 9 tensor(0.2346)
89 10 tensor(0.3433)
89 11 tensor(0.4725)
89 12 tensor(0.3803)
89 13 tensor(0.3561)
89 14 tensor(0.3509)
89 15 tensor(0.3421)
89 16 tensor(0.3767)
89 17 tensor(0.3562)
90 0 tensor(0.2600)
90 1 tensor(0.2741)
90 2 tensor(0.4717)
90 3 tensor(0.3460)
90 4 tensor(0.3808)
90 5 tensor(0.3706)
90 6 tensor(0.3200)
90 7 tensor(0.2771)
90 8 tensor(0.5871)
90 9 tensor(0.2622)
90 10 tensor(0.3935)
90 11 tensor(0.3546)
90 12 tensor(0.4540)
90 13 tensor(0.3058)
90 14 tensor(0.4581)
90 15 tensor(0.2123)
90 16 tensor(0.3495)
90 17 tensor(0.2997)
91 0 tensor(0.3223)
91 1 tensor(0.4018)
91 2 tensor(0.3032)
91 3 tensor(0.2952)
91 4 tensor(0.4693)
91 5 tensor(0.3685)
91 6 tensor(0.3078)
91 7 tensor(0.3206)
91 8 tensor(0.3917)
91 9 tensor(0.3395)
91 10 tensor(0.4959)
91 11 tensor(0.4382)
91 12 tensor(0.3859)
91 13 tensor(0.3693)
91 14 tensor(0.3338)
91 15 tensor(0.3665)
91 16 tensor(0.2889)
91 17 tensor(0.2513)
92 0 tensor(0.2293)
92 1 tensor(0.2739)
92 2 tensor(0.3856)
92 3 tensor(0.2853)
92 4 tensor(0.2646)
92 5 tensor(0.3604)
92 6 tensor(0.3768)
92 7 tensor(0.5317)
92 8 tensor(0.4628)
92 9 tensor(0.5212)
92 10 tensor(0.4020)
92 11 tensor(0.3652)
92 12 tensor(0.4656)
92 13 tensor(0.3333)
92 14 tensor(0.3667)
92 15 tensor(0.2131)
92 16 tensor(0.3884)
92 17 tensor(0.2505)
93 0 tensor(0.3261)
93 1 tensor(0.3556)
93 2 tensor(0.3065)
93 3 tensor(0.3731)
93 4 tensor(0.3860)
93 5 tensor(0.3497)
93 6 tensor(0.3482)
93 7 tensor(0.4497)
93 8 tensor(0.5288)
93 9 tensor(0.3809)
93 10 tensor(0.3354)
93 11 tensor(0.2642)
93 12 tensor(0.2911)
93 13 tensor(0.2610)
93 14 tensor(0.4831)
93 15 tensor(0.4368)
93 16 tensor(0.3356)
93 17 tensor(0.1548)
94 0 tensor(0.2749)
94 1 tensor(0.4226)
94 2 tensor(0.2190)
94 3 tensor(0.3967)
94 4 tensor(0.4007)
94 5 tensor(0.2062)
94 6 tensor(0.3584)
94 7 tensor(0.3000)
94 8 tensor(0.4998)
94 9 tensor(0.3354)
94 10 tensor(0.2814)
94 11 tensor(0.2929)
94 12 tensor(0.6325)
94 13 tensor(0.3206)
94 14 tensor(0.5496)
94 15 tensor(0.2932)
94 16 tensor(0.2574)
94 17 tensor(0.3791)
95 0 tensor(0.2896)
95 1 tensor(0.4459)
95 2 tensor(0.4101)
95 3 tensor(0.2628)
95 4 tensor(0.2376)
95 5 tensor(0.5062)
95 6 tensor(0.4002)
95 7 tensor(0.3198)
95 8 tensor(0.3963)
95 9 tensor(0.3249)
95 10 tensor(0.3105)
95 11 tensor(0.3285)
95 12 tensor(0.2491)
95 13 tensor(0.4518)
95 14 tensor(0.2750)

95 15 tensor(0.4961)
95 16 tensor(0.3399)
95 17 tensor(0.3678)
96 0 tensor(0.3203)
96 1 tensor(0.3549)
96 2 tensor(0.2237)
96 3 tensor(0.3408)
96 4 tensor(0.4503)
96 5 tensor(0.4491)
96 6 tensor(0.2915)
96 7 tensor(0.2818)
96 8 tensor(0.3181)
96 9 tensor(0.3771)
96 10 tensor(0.3220)
96 11 tensor(0.4054)
96 12 tensor(0.3246)
96 13 tensor(0.5101)
96 14 tensor(0.2960)
96 15 tensor(0.2548)
96 16 tensor(0.4119)
96 17 tensor(0.5075)
97 0 tensor(0.3039)
97 1 tensor(0.4199)
97 2 tensor(0.3300)
97 3 tensor(0.2819)
97 4 tensor(0.4500)
97 5 tensor(0.4790)
97 6 tensor(0.3351)
97 7 tensor(0.2800)
97 8 tensor(0.3684)
97 9 tensor(0.3105)
97 10 tensor(0.4225)
97 11 tensor(0.4548)
97 12 tensor(0.3045)
97 13 tensor(0.2655)
97 14 tensor(0.3116)
97 15 tensor(0.4514)
97 16 tensor(0.3713)
97 17 tensor(0.2316)
98 0 tensor(0.2791)
98 1 tensor(0.2745)
98 2 tensor(0.2548)
98 3 tensor(0.5364)
98 4 tensor(0.4204)
98 5 tensor(0.2677)
98 6 tensor(0.3232)
98 7 tensor(0.3972)
98 8 tensor(0.4768)
98 9 tensor(0.4482)
98 10 tensor(0.2975)
98 11 tensor(0.3245)
98 12 tensor(0.2544)
98 13 tensor(0.3000)
98 14 tensor(0.3611)
98 15 tensor(0.2906)
98 16 tensor(0.4937)
98 17 tensor(0.4694)
99 0 tensor(0.2572)
99 1 tensor(0.4748)
99 2 tensor(0.2891)
99 3 tensor(0.3437)
99 4 tensor(0.3130)
99 5 tensor(0.3613)
99 6 tensor(0.4149)
99 7 tensor(0.2716)
99 8 tensor(0.4057)
99 9 tensor(0.4982)
99 10 tensor(0.2624)
99 11 tensor(0.3246)
99 12 tensor(0.3689)
99 13 tensor(0.3201)
99 14 tensor(0.3540)
99 15 tensor(0.4461)
99 16 tensor(0.2801)
99 17 tensor(0.4346)

In [ ]:
#this will be last mini batch
print (y_pred.shape)

In [1091]:
# Train and Test Set Predictions
print ("train set accuracy = " + str (accuracy(dataset.pt_x_data, dataset.y_data)))
print ("test set accuracy = " + str (accuracy(dataset.pt_x_data_test, dataset.y_data_test)))

train set accuracy = 0.8507295173961841
test set accuracy = 0.7320574162679426

In [1132]:
#show bad test rows
model.eval()


prediction = model(dataset.pt_x_data_test)

np_prediction = (prediction.detach().numpy())
np_prediction_rd = np.round(np_prediction)
print (np_prediction_rd.shape)

results = pd.DataFrame(np_prediction)
results['pred_rd'] = np_prediction_rd
results['survived'] = validation_set['survived']
results['name'] = validation_set['Name']


results

(418, 1)

,0,pred_rd,survived,name
0,0.070318,0.0,0,"Kelly, Mr. James"
1,0.514159,1.0,1,"Wilkes, Mrs. James (Ellen Needs)"
2,0.041517,0.0,0,"Myles, Mr. Thomas Francis"
3,0.124743,0.0,0,"Wirz, Mr. Albert"
4,0.514159,1.0,1,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)"
5,0.124743,0.0,1,"Svensson, Mr. Johan Cervin"
6,0.740660,1.0,0,"Connolly, Miss. Kate"
7,0.031375,0.0,1,"Caldwell, Mr. Albert Francis"
8,0.976825,1.0,1,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)"
9,0.061415,0.0,0,"Davies, Mr. John Samuel"
10,0.124743,0.0,0,"Ilieff, Mr. Ylio"
11,0.313549,0.0,0,"Jones, Mr. Charles Cresson"
12,0.995963,1.0,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)"
13,0.031375,0.0,0,"Howard, Mr. Benjamin"
14,0.995963,1.0,0,"Chaffee, Mrs. Herbert Fuller (Carrie Constance..."
15,0.993510,1.0,0,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)"
16,0.041517,0.0,0,"Keane, Mr. Daniel"
17,0.150285,0.0,0,"Assaf, Mr. Gerios"
18,0.372301,0.0,0,"Ilmakangas, Miss. Ida Livija"
19,0.976825,1.0,1,"Assaf Khalil, Mrs. Mariana (Miriam"")"""
20,0.085648,0.0,0,"Rothschild, Mr. Martin"
21,0.996944,1.0,1,"Olsen, Master. Artur Karl"
22,0.997103,1.0,1,"Flegenheim, Mrs. Alfred (Antoinette)"
23,0.085648,0.0,0,"Williams, Mr. Richard Norris II"
24,0.999988,1.0,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)"
25,0.061415,0.0,0,"Robins, Mr. Alexander A"
26,0.999997,1.0,1,"Ostby, Miss. Helene Ragnhild"
27,0.150285,0.0,0,"Daher, Mr. Shedid"
28,0.356248,0.0,0,"Brady, Mr. John Bertram"
29,0.098912,0.0,0,"Samaan, Mr. Elias"
...,...,...,...,...
388,0.070318,0.0,0,"Canavan, Mr. Patrick"
389,0.073377,0.0,0,"Palsson, Master. Paul Folke"
390,0.356248,0.0,0,"Payne, Mr. Vivian Ponsonby"
391,0.995963,1.0,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)"
392,0.996944,1.0,0,"Abbott, Master. Eugene Joseph"
393,0.081565,0.0,0,"Gilbert, Mr. William"
394,0.004832,0.0,1,"Kink-Heilmann, Mr. Anton"
395,0.845596,1.0,0,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)"
396,0.070318,0.0,0,"Colbert, Mr. Patrick"
397,0.999998,1.0,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ..."
398,0.124743,0.0,0,"Larsson-Rondberg, Mr. Edvard A"
399,0.070318,0.0,0,"Conlon, Mr. Thomas Henry"
400,0.995218,1.0,1,"Bonnell, Miss. Caroline"
401,0.031375,0.0,0,"Gale, Mr. Harry"
402,0.999929,1.0,1,"Gibson, Miss. Dorothy Winifred"
403,0.313549,0.0,0,"Carrau, Mr. Jose Pedro"
404,0.552566,1.0,1,"Frauenthal, Mr. Isaac Gerald"
405,0.125546,0.0,1,"Nourney, Mr. Alfred (Baron von Drachstedt"")"""
406,0.031375,0.0,0,"Ware, Mr. William Jeffery"
407,0.208547,0.0,1,"Widener, Mr. George Dunton"
408,0.740660,1.0,1,"Riordan, Miss. Johanna Hannah"""""
409,0.372301,0.0,0,"Peacock, Miss. Treasteall"
410,0.740660,1.0,0,"Naughton, Miss. Hannah"
411,0.590327,1.0,0,"Minahan, Mrs. William Edward (Lillian E Thorpe)"
412,0.435644,0.0,0,"Henriksson, Miss. Jenny Lovisa"
413,0.124743,0.0,0,"Spector, Mr. Woolf"
414,0.970568,1.0,1,"Oliva y Ocana, Dona. Fermina"
415,0.124743,0.0,0,"Saether, Mr. Simon Sivertsen"
416,0.124743,0.0,0,"Ware, Mr. Frederick"
417,0.999958,1.0,1,"Peter, Master. Michael J"

In [1078]:
#Run test set through
model.eval()
test_pred = model(dataset.pt_x_data_test)
print (test_pred.shape)
print (type(test_pred))

#Add prediction col to test panda
#to_np = np.round(test_pred.detach().numpy())


#to_np = (test_pred.detach().numpy())
to_np = np.where((test_pred.detach().numpy())>0.5,1.0,0)


to_np = to_np.astype(int)
x_test['Survived'] = to_np


#Export to csv for submission
x_test.to_csv('mix45a50_PClass13_parch_sib_miss_MRS_MR_MASter_sex_cabCU_port-270mod-dropout.csv', columns = ['PassengerId','Survived'], index = False)

torch.Size([418, 1])
<class 'torch.Tensor'>

In [531]:
print (test_pred[73])

tensor([0.5141], grad_fn=<SelectBackward>)

In [1090]:
def accuracy(X, Y):
    """
    This function is used to measure accuracy of the model.
    
    Arguments:
    X -- data set of examples you would like to label
    Y -- labels
    
    Returns:
    p -- predictions for the given dataset X
    """
    model.eval()
    prediction = model(X)
    #print (prediction)
    np_prediction = np.round(prediction.detach().numpy())
    predictions_correct = np.equal(np_prediction, Y)
    
    p = np.mean(predictions_correct)
    
    
    return p

In [ ]:
......................Extra Stuff...........
convertfunc = lambda x: float(x.strip("%"))/100
test = np.genfromtxt('./data/titanic/train.csv', delimiter=',', skip_header=1, usecols = (0,1,2,4))

#aai = a.iloc[:, [0,3]].values
train_x = a.loc[:, ['PassengerId', 'Pclass', 'Sex']].values
train_y = a.loc[:, ['Survived']].values

In [ ]:
print ("pt_x_data: " + str (dataset.pt_x_data.shape))
print ("pt_y_data: " + str (dataset.pt_y_data.shape))
print ("y_data: " + str (dataset.y_data.shape))

In [ ]:
print (type (train_x))
print (type (train_y))

print (train_x)
print (train_y)

In [ ]:
#Read in debug file
debug_vals = np.genfromtxt('./data/titanic/debug_justPID.csv', delimiter=',', dtype=np.float32, skip_header=1)

#convert to correct format
#debug_x_data = torch.from_numpy(np.array(xy_train.loc[:, ['PassengerId', 'Pclass', 'Sex']].values, dtype='float')).float()
#debug_y_data = np.array(xy_train.loc[:, ['Survived']].values, dtype='float')

debug_x_data = torch.from_numpy(debug_vals[:, 0:-1])
debug_y_data = np.array(debug_vals[:, [-1]])
print (debug_x_data)
print (debug_y_data)

print ("debug set accuracy = " + str (accuracy(debug_x_data,debug_y_data)))

In [ ]:
a = np.array([10,-1])
b = np.array([10,1])

In [ ]:
np.dot(a.T,b)